@using System.Web.Optimization;
@{if (Session["Config"] == null)
    { @Html.Raw("<script>");
    @Html.Raw("location.href=window.location.origin+'/Home/Login';");
    @Html.Raw("</script>");
}
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

<div class="row" id="rowTabla">
    <div class="col-lg-12">
        <div class="card" id="orderList">
            <div class="card-header border-0">
                <div class="row align-items-center gy-3">
                    <div class="col-sm">
                        <h3 class="content-header-title mb-0">Pagos</h3>
                        <div class="row breadcrumbs-top">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Compras</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Pagos
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div role="group" aria-label="Button group with nested dropdown" class="btn-group float-md-right">
                            <a onclick="mostrarDetalle(1)" class="btn btn-outline-primary" title="Nuevo"><i class="ri-add-line"></i></a>
                            <a id="btnImprimir" class="btn btn-outline-primary hidden" title="Imprimir"><i class=" ri-printer-fill"></i></a>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right material-shadow-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Exportar
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
                                    <a id="btnImprimirPDF" class="btn dropdown-item"><i class="ri-file-pdf-fill"></i> Pdf</a>
                                    <a id="btnImprimirExcel" class="btn dropdown-item"><i class="ri-file-excel-2-fill"></i> Excel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 mb-2">
                        <div class="input-group mb-2" style="flex-wrap: nowrap;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fecha</span>
                            </div>
                            <input type="text" class="form-control flatpickr flatpickr-input" id="txtFilFecIn" data-provider="flatpickr" data-date-format="d/m/Y" autocomplete="off" />
                            <div class="input-group-text bg-primary border-primary text-white">
                                <i class="ri-calendar-2-line"></i>
                            </div>
                            <input type="text" class="form-control flatpickr flatpickr-input" id="txtFilFecFn" data-provider="flatpickr" data-date-format="d/m/Y" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2 col-lg-2 mb-2">
                        <div>
                            <button class="btn btn-primary w-100" id="btnBuscar" type="button">
                                <i class="ri-equalizer-fill me-1 align-bottom"></i>Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body border border-dashed border-end-0 border-start-0 pt-0">
                <div class="row">
                    <div class="table-responsive mt-3 mb-1 col-12" style="min-height:450px;">
                        <table class="table table-condensed table-bordered table-hover" id="tbDatos">
                            <thead class="text-muted table-light">
                                <tr class="">
                                    <th class="sort" data-sort="fecha">Fecha</th>
                                    <th class="sort" data-sort="serie">Serie</th>
                                    <th class="sort" data-sort="numero">Número</th>
                                    <th class="sort" data-sort="descripcion">Descripcion</th>
                                    <th class="sort" data-sort="pago">Pago</th>
                                    <th class="sort" data-sort="operacion">Operación</th>
                                    <th class="sort" data-sort="monto">Monto</th>
                                    <th class="sort" data-sort="action"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
</div>

<div class="row">
    <div id="error"></div>
</div>

<div id="rowFrm" style="display:none;">
    <div class="card m-b-10">
        <div class="card-header p-b-0">
            <div class="row">
                <div class="col-sm-9 mt-2">
                    <h3 class='panel-title' id='lblTituloPanel'>Registro Pago</h3>
                </div>
                <div class="col-sm-3 pull-right">
                    <button type='button' class='btn btn-success pull-right waves-effect waves-light' id='btnGrabar' style="margin-left:10px;">Guardar</button>
                    <button type='button' class='btn btn-danger pull-right waves-effect waves-light' id="btnCancelar">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="card-body p-t-10 p-b-10">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">N°Documento</span>
                        </div>
                        <select class="form-control" id="cboDocumento">
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Fecha Documento</span>
                        </div>
                        <input type="text" class="form-control flatpickr flatpickr-input" id="txtFecha" data-provider="flatpickr" data-date-format="d/m/Y" />
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Proveedor</span>
                        </div>
                        <input type="text" class="form-control" id="txtRazonSocial" autocomplete="off">
                        <input class='d-none' placeholder='' id='txtID' type='text'>
                        <input class='d-none' placeholder='' id='txtID2' type='text'>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Total</span>
                        </div>
                        <input type="text" class="form-control" id="txtTotal" autocomplete="off">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Monto aplicado</span>
                        </div>
                        <input type="text" class="form-control" id="txtMontoAplicado" autocomplete="off">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Diferencia</span>
                        </div>
                        <input type="text" class="form-control" id="txtDiferencia" autocomplete="off" onkeypress="return IngresoNumero(event)">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group">
                        <div class="input-group-text">Moneda</div>
                        <select class="form-control" id="cboMoneda" disabled>
                        </select>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Monto a Pagar</span>
                        </div>
                        <input type="text" class="form-control" id="txtMontoCancelar" autocomplete="off" onkeypress="return IngresoNumero(event)">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Fecha Pago</span>
                        </div>
                        <input type="text" class="form-control flatpickr flatpickr-input" id="txtFechaPago" data-provider="flatpickr" data-date-format="d/m/Y" />
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group">
                        <div class="input-group-text">Tipo Operacion</div>
                        <select class="form-control" id="cboTipoOperacion" onchange="buscarXCombo()">
                            <option value="1" name="1">Transferencia</option>
                            <option value="2" name="2">Cheque</option>
                            <option value="3" name="3">Deposito</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2" id="divCuentaOrigen" style="display:none">
                    <div class="input-group">
                        <div class="input-group-text">Cuenta Origen</div>
                        <select class="form-control" id="cboCuentaOrigen">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2" id="divCuentaDestino" style="display:none">
                    <div class="input-group">
                        <div class="input-group-text">Cuenta Destino</div>
                        <select class="form-control" id="cboCuentaDestino">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2" id="divOperacion" style="display:none">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">N° Operación</span>
                        </div>
                        <input type="text" class="form-control" id="txtNOperacion" autocomplete="off" onkeypress="return IngresoNumero(event)">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2" id="divFCC" style="display:none">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Apartir de</span>
                        </div>
                        <input type="text" class="form-control flatpickr flatpickr-input" id="txtFechaCobroCheque" data-provider="flatpickr" data-date-format="d/m/Y" />
                    </div>
                </div>
                <div class="col-lg-12 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Observación</span>
                        </div>
                        <input type="text" class="form-control" id="txtObservacion" name="Observaciones" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive table-card" style="min-height:200px;margin:0">
                    <table class="table table-nowrap table-sm align-middle">
                        <thead class="text-muted table-light">
                            <tr class="text-uppercase">
                                <th class="d-none"></th>
                                <th class="d-none"></th>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>U.M.</th>
                                <th>Precio</th>
                                <th>Sub Total</th>
                                <th style="width:90px"></th>
                            </tr>
                        </thead>
                        <tbody class="list form-check-all" id="tbDetalle">
                        </tbody>
                    </table>
                </div>
            </div>


            <!--<div class="col-md-12">
                <div class='form-horizontal'>
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtDocumento' class="control-label col-md-4">N°Documento</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id='txtDocumento' type='text' class="form-control form-control-sm" readonly>
                                        </div>
                                        <button id="btnModalDocumento" type="button" class="btn btn-info btn-sm pr-1 pl-1">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtFecha' class="control-label col-md-4">Fecha Documento</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id='txtFecha' type='text' class="form-control form-control-sm" readonly>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-10">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtProveedor' class="control-label col-md-2">Proveedor</label>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtRazonSocial" type="text" class="form-control form-control-sm" readonly>
                                        </div>
                                        <div class="form-group row m-b-5 p-l-10" style="display:none;">
                                            <input placeholder='' id='txtID' type='text' style="display:none;">
                                            <input placeholder='' id='txtID2' type='text' style="display:none;">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtTotal' class="control-label col-md-4">Total</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id='txtTotal' type='text' class="form-control form-control-sm" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtMontoAplicado' class="control-label col-md-4">Monto aplicado</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id='txtMontoAplicado' type='text' class="form-control form-control-sm" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
            @*la diferencia es el total - Monto Aplicado*@
            <!--<div class="col-12 col-md-5">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtDiferencia' class="control-label col-md-4">Diferencia</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id='txtDiferencia' type='text' class="form-control form-control-sm" readonly>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='cboMoneda' class="control-label col-sm-4">Moneda</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <select id='cboMoneda' class="form-control form-control-sm" disabled></select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtMontoCancelar' class="control-label col-md-4">Monto a Pagar</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id='txtMontoCancelar' type='text' class="form-control form-control-sm" onkeypress="return IngresoNumero(event)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtFechaPago' class="control-label col-md-4">Fecha Pago</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id='txtFechaPago' type='text' class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtTipoOperacion' class="control-label col-md-4">Tipo Operacion</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <div class="col-10 p-0">
                                                <select class="form-control form-control-sm" id="txtTipoOperacion" onchange="buscarXCombo()">
                                                    <option value="1" name="1">Transferencia</option>
                                                    <option value="2" name="2">Cheque</option>
                                                    <option value="3" name="3">Deposito</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-12 col-md-4" id="divCuentaOrigen" style="display:none">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtCuentaOrigen' class="control-label col-md-4">Cuenta Origen</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id='txtCuentaOrigen' type='text' class="form-control form-control-sm" readonly>
                                        </div>
                                        <button id="btnModalCuentaOrigen" type="button" class="btn btn-info btn-sm pr-1 pl-1">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" id="divCuentaDestino" style="display:none">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtCuentaDestino' class="control-label col-md-4" id='lblCuenta'>Cuenta Destino</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id='txtCuentaDestino' type='text' class="form-control form-control-sm" readonly>
                                        </div>
                                        <button id="btnModalCuentaDestino" type="button" class="btn btn-info btn-sm pr-1 pl-1">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" id="divOperacion" style="display:none">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtNOperacion' class="control-label col-md-4" id="lblOperacion">Nro Operacion</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id='txtNOperacion' type='text' class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" id="divFCC" style="display:none">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtFechaCobroCheque' class="control-label col-md-4">Apartir de</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id='txtFechaCobroCheque' type='text' class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtObservacion' class="control-label col-md-2">Observación</label>
                                <div class="col-sm-9 p-0">
                                    <textarea rows="2" class="form-control input-sm" id="txtObservacion"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>

        <div class="card m-b-10" style="display:none">
            <div class="card-body">
                <div class="table-responsive" style="height:200px;">
                    <div class="" id="tb_DetalleF">

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id='modal-Modal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='gridSystemModalLabel'>
        <div class='modal-dialog' role='document' style="max-width:800px">
            <div class='modal-content'>
                <div class='modal-header'>
                    <h4 class="modal-title" id="lblTituloModal">Marcas Registradas</h4>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12">
                        <div class="row" style="display:none;">
                            <div class='col-sm-12' id="div_Frm_Modal">
                                <!-- formulario del modal -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input id="txtFiltroMod" class="form-control form-control-sm" placeholder="Filtrar ... " />
                            </div>
                        </div>
                        <div class="row" id="rowTabla" style="font-size:12px;">
                            <div class="col-sm-12">
                                <div class="col-md-12 m-t-10" id="divTablaCabecera_Modal"></div>
                                <div class="col-md-12 table-responsive" id="divTabla_Modal" style="max-height:350px;overflow-y:scroll;overflow-x:hidden;background-color:#f2f2f2">
                                    <div id="contentArea" class="clusterize-content">
                                        <!--Aca es la chamba donde se guardara todo los datos del modal-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" id="btnGrabar_Modal" data-grabar="">Guardar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="div_Frm_Detalle" style="display:none">
    <div class="form-horizontal">
        <div class="form-group" style="display:none;">
            <input placeholder="" id="txtId_Detalle" type="text" style="display:none;">
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtCodigo_Detalle" class="control-label col-sm-3">Código</label>
                <div class="col-sm-3">
                    <input placeholder="Autgenerado" readonly="" id="txtCodigo_Detalle" type="text" maxlength="3" disabled="" class="form-control input-sm" tabindex="1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtDescripcion_Detalle" class="control-label col-sm-3">Descripción</label>
                <div class="col-sm-9">
                    <input id="txtDescripcion_Detalle" type="text" class="form-control input-sm" tabindex="3">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="chkActivo_Detalle" class="control-label col-sm-3">Activo</label>
                <div class="col-sm-9">
                    <input type="checkbox" id="chkActivo_Detalle" checked>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/basics")
<script src="/assets/js/code.jquery.com_jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/assets/libs/list.js/list.min.js"></script>
<script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="~/Scripts/Compras/PagaSocio.js"></script>




