@using System.Web.Optimization;
@{if (Session["Config"] == null)
    { @Html.Raw("<script>");
    @Html.Raw("location.href=window.location.origin+'/Home/Login';");
    @Html.Raw("</script>");
}
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<style>
    .floatThead-wrapper {
        margin-top: 10px;
    }
</style>

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0"> Registro de Ventas</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Reportes</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Registro de Ventas
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div role="group" aria-label="Button group with nested dropdown" class="btn-group float-md-right">
            <a class="btn btn-outline-primary" title="Imprimir"><i class="ft-printer" value="imprimir" id="btnImprimir"></i></a>
            <div role="group" class="btn-group">
                <button id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right"><i class="ft-settings icon-left"></i> Exportar</button>
                <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                    <a class="dropdown-item" value="1" id="btnImprimirPDF">Pdf</a>
                    <a class="dropdown-item" value="2" id="btnImprimirExcel">Excel</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="error"></div>
</div>
<div class="card" id="rowFilter" style="margin-bottom:10px;">
    <div class="card-header" id="headingOne">
        <div class="row">
            <div class="col-sm-12">
                <a data-toggle="collapse" href="#collapseOne-2" role="button" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title" id="lblTi">Parámetros de Búsqueda</h4>
                </a>
            </div>
        </div>
    </div>
    <div id="collapseOne-2" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div class="col-12" id="frm">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4 col-12 p-0">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for="txtFilFecIn" class="control-label col-md-3 m-t-5">Fecha</label>
                                <div class="col-12 col-md-9">
                                    <div class="input-daterange input-group" id="datepicker-range">
                                        <input type="text" id="txtFilFecIn" class="form-control-sm form-control" name="start">
                                        <div class="input-group-addon">
                                            <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                        </div>
                                        <input type="text" id="txtFilFecFn" class="form-control-sm form-control" name="end">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 p-0">
                            <button type='button' class='btn btn-success float-right waves-effect waves-light' id='btnBuscar'><i class="fa fa-search"></i> <span class="bold">Buscar</span></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4 col-12 p-0">
                            <div class='form-group row m-b-5 p-l-10'>
                                <div class="col-12 col-md-9">
                                    <label for="chkFacturas" class="control-label col-md-3 m-t-5">Ticket</label>
                                    <input type="checkbox" id="chkTicket" class="input-group-sm" />
                                    @*<label for="chkBoletas" class="control-label col-md-3 m-t-5">Sin Ticket</label>
                                        <input type="checkbox" id="chkSinTicket" class="input-group-sm"/>*@
                                    @*<label for="chkTickets" class="control-label col-md-3 m-t-5">Tickets</label>
                                        <input type="checkbox" id="chkTickets" class="input-group-sm"/>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="rowTabla">
    <div class="col-md-12">
        <div class="card p-l-20 p-r-20 m-b-0">
            <div class="card-body">
                <div class="row">
                    <div class="row col-12 m-b-5 m-t-5">
                        @*<input id="txtFiltro" class="form-control form-control-sm col-12 col-md-4" placeholder="Filtrar ... " />*@
                        <div class="col-md-8">
                            <div class="btn-toolbar flex-wrap float-right" role="toolbar">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 hidden-sm-down" id="cabeTabla"></div>
                    <div class="col-sm-12 table-responsive" id="divTabla">
                        <div id="contentPrincipal" class="clusterize-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/basics")
<script src='~/Scripts/Reportes/RegistroVentas.js'></script>

