@using System.Web.Optimization;
@{if (Session["Config"] == null)
    { @Html.Raw("<script>");
    @Html.Raw("location.href=window.location.origin+'/Home/Login';");
    @Html.Raw("</script>");
}
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="row">
    <div id="error"></div>
</div>
<div class="row" id="rowTabla">
    <div class="col-lg-12">
        <div class="card" id="orderList">
            <div class="card-header border-0">
                <div class="row align-items-center gy-3">
                    <div class="col-sm">
                        <h3 class="content-header-title mb-0">Documentos de Venta</h3>
                        <div class="row breadcrumbs-top">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Ventas</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Documentos de Venta
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div role="group" aria-label="Button group with nested dropdown" class="btn-group float-md-right">
                            <a onclick="mostrarDetalle(1,0)" class="btn btn-outline-primary" title="Nuevo"><i class="ri-add-line"></i></a>
                            <a onclick="LabDescargarPDF('i')" class="btn btn-outline-primary hidden" title="Imprimir"><i class=" ri-printer-fill"></i></a>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right material-shadow-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Exportar
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
                                    <a id="btnImprimirPDF" class="btn dropdown-item"><i class="ri-file-pdf-fill"></i> Pdf</a>
                                    <a id="btnImprimirExcel" class="btn dropdown-item"><i class="ri-file-excel-2-fill"></i> Excel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 mb-2">
                        <div class="input-group mb-2" style="flex-wrap: nowrap;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fecha</span>
                            </div>
                            <input type="text" class="form-control flatpickr flatpickr-input" id="txtFilFecIn" data-provider="flatpickr" data-date-format="d/m/Y" autocomplete="off" />
                            <div class="input-group-text bg-primary border-primary text-white">
                                <i class="ri-calendar-2-line"></i>
                            </div>
                            <input type="text" class="form-control flatpickr flatpickr-input" id="txtFilFecFn" data-provider="flatpickr" data-date-format="d/m/Y" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2 col-lg-2 mb-2">
                        <div>
                            <button class="btn btn-primary w-100" id="btnBuscar" type="button">
                                <i class="ri-equalizer-fill me-1 align-bottom"></i>Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body border border-dashed border-end-0 border-start-0 pt-0">
                <div class="row">
                    <div class="">
                        <table class="table table-bordered dt-responsive table-sm table-striped align-middle dtr-inline collapsed" id="tbDatos">
                            <thead class="text-muted table-light">
                                <tr class="">
                                    <th>Fecha</th>
                                    <th>Serie</th>
                                    <th>Número</th>
                                    <th>Razon Social</th>
                                    <th>SubTotal</th>
                                    <th>IGV</th>
                                    <th>Total</th>
                                    <th>Estado</th>
                                    <th>Enlace</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
</div>
<div id="rowFrm" style="display:none;">
    <div class="card m-b-10">
        <div class="card-header p-b-0">
            <div class="row">
                <div class="col-sm-9">
                    <h4 class='panel-title' id='lblTituloPanel'>Nuevo Doc. de Venta</h4>
                </div>
                <div class="col-sm-3 pull-right">
                    <button type='button' class='btn btn-success pull-right waves-effect waves-light' id='btnGrabar' style="margin-left:10px;">Guardar</button>
                    <button type='button' class='btn btn-danger pull-right waves-effect waves-light' id="btnCancelar" style="margin-left:10px;">Cancelar</button>
                    <button type='button' class='btn btn-info pull-right waves-effect waves-light' id='btnEnviarSunat' style="margin-left:10px;">Enviar Sunat</button>
                </div>
            </div>
        </div>
        <div class="card-body p-t-10 p-b-10">
            <div class="col-md-12">
                <div class='form-horizontal'>
                    <div class="row">
                        <div class="col-12 col-md-4" style="display:none">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtLocalDet">Local</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtLocalDet" type="text" class="form-control form-control-sm" readonly>
                                        </div>
                                        <button id="btnModalLocalDet" type="button" class="btn waves-effect waves-light btn-info btn-xs">
                                            <i class="pg-arrow_down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" style="display:none">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtAlmacenDet">Almacen</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtAlmacenDet" type="text" class="form-control form-control-sm" readonly>
                                        </div>
                                        <button id="btnModalAlmacenDet" type="button" class="btn btn-info btn-sm pr-1 pl-1">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group" style="flex-wrap: nowrap;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Motivo</span>
                                    <input class="d-none" placeholder='' id='txtID' type='text'>
                                </div>
                                <select class="form-control" id="cboTipoCompra">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group" style="flex-wrap: nowrap;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Tipo Documento</span>
                                </div>
                                <select class="form-control" id="cboTipoDocumento">
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" id="divCita" style="display:none">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtOC' class="control-label col-md-4">Cita</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id='txtCita' type='text' class="form-control form-control-sm" readonly>
                                        </div>
                                        <button id="btnModalCita" type="button" class="btn btn-info btn-sm pr-1 pl-1">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group" style="flex-wrap: nowrap;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Serie</span>
                                </div>
                                <select class="form-control" id="cboNroSerie">
                                </select>
                                <input id='txtNroSerie' class="form-control form-control-sm" type='text' style="display:none" readonly>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group" style="flex-wrap: nowrap;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nro Doc.</span>
                                </div>
                                <input id='txtNroComprobante' type='text' class="form-control form-control-sm" readonly>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group" style="flex-wrap: nowrap;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Fecha</span>
                                </div>
                                <input id='txtFecha' type='text' class="form-control form-control-sm" onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-2">
                            <div class="input-group" style="flex-wrap: nowrap;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Observación</span>
                                </div>
                                <input id='txtObservacion' type='text' class="form-control form-control-sm" >
                            </div>
                        </div>
                        <br />
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-8 col-sm-6 mb-2">
                            <div class="input-group" style="flex-wrap: nowrap;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Cliente</span>
                                    <input type='text' class="d-none" placeholder='' id='txtFechaVencimiento'>
                                </div>
                                <select class="form-control" id="cboRazonSocial">
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="input-group">
                                <div class="input-group-text">N° Doc</div>
                                <input id='txtNroDocumento' type='text' class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Dirección</div>
                                <select class="form-control" id="cboDireccion">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Tipo Cambio</div>
                                <input type="text" class="form-control" id="txtTipoCambio" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Moneda</div>
                                <select class="form-control" id="cboMoneda">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Forma Pago</div>
                                <select class="form-control" id="cboFormaPago">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Tipo IGV</div>
                                <select id='cboTipoAfectacion' type='text' class="form-control form-control-sm"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 d-none">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtIGV' class="control-label col-md-4">IGV Incluido</label>
                                <div class="col-sm-7 p-0">
                                    <div class="checkbox check-info">
                                        <input type="checkbox" id="chkIGV" checked>
                                        <label for="chkIGV"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row" id="divArticulos">
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group mb-2" style="flex-wrap: nowrap;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Producto</span>
                                </div>
                                <select class="form-control detalle vDetalle" id="cboProducto">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Cantidad</div>
                                <input type="text" class="form-control detalle vDetalle" id="txtCantidad" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Precio</div>
                                <input type="text" class="form-control detalle vDetalle" id="txtPrecio" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Total</div>
                                <input type="text" class="form-control detalle vDetalle" id="txtTotal" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 mb-2">
                            <button type="button" id="btnAgregarDetalle" class="btn btn-dark">Agregar Detalle</button>
                            @*<button type='button' class='btn btn-sm btn-success pull-right waves-effect waves-light' style="margin-left:10px;" id='btnAgregarDetalle'>Agregar</button>
            <button type='button' class='btn btn-sm btn-success pull-right waves-effect waves-light' style="display:none;margin-left:10px;" onclick='guardarItemDetalle()' id='btnGrabarDetalle'>New</button>
            <button type='button' class='btn btn-sm btn-danger pull-right waves-effect waves-light' style="display:none;" onclick='eliminarDetalle()' id='btnCancelarDetalle'>Cancelar</button>*@
                        </div>
                    </div>
                    <div class="row" id="divOtroServicio" style="display:none">
                        <div class="col-12 col-md-8">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-2 control-label" for="txtOtroServicio">Servicio</label>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-12 p-0">
                                            <input id="txtOtroServicio" type="text" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtTotalOtroServicio' class="control-label col-sm-6">Total</label>
                                <div class="col-sm-6 p-0">
                                    <input id='txtTotalOtroServicio' type='text' class="form-control form-control-sm" onkeypress="return IngresoNumero(event)">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-2 text-right">
                            <button type="submit" class="btn btn-success btn-sm waves-effect waves-light" id="btnAgregarOtroServicio">Agregar</button>
                            <button type="submit" class="btn btn-success btn-sm waves-effect waves-light" id="btnActualizarOtroServicio" onclick="guardarItemDetalle()" style="display:none">Actualizar</button>
                            <button type="submit" class="btn btn-danger btn-sm waves-effect waves-light" id="btnCancelarOtroServicio" style="display:none">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card m-b-10">
        <div class="card-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="card m-b-10" id="tablaDeDetalles">
                            <div class="card-body">
                                <div class="row">
                                    <div class="table-responsive table-card" style="min-height:200px;margin:0">
                                        <table class="table table-nowrap table-sm align-middle">
                                            <thead class="text-muted table-light">
                                                <tr class="text-uppercase">
                                                    <th class="d-none"></th>
                                                    <th class="d-none"></th>
                                                    <th>Descripción</th>
                                                    <th>Cantidad</th>
                                                    <th>U.M.</th>
                                                    <th>Precio</th>
                                                    <th>Sub Total</th>
                                                    <th style="width:90px"></th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all" id="tbDetalle">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card m-b-10" id="tablaDeServicios" style="display:none">
                            <div class="card-body">
                                <div class="col-sm-12 hidden-sm-down" id="cabeTablaServicio">
                                </div>
                                <div class="table-responsive" style="height:150px;">
                                    <div class="row panel bg-info" style="color:white;margin:0px;margin-bottom:5px;padding:5px 20px 0px 20px;">
                                        <div class="col-12 col-md-1" style="display:none;">
                                            <label></label>
                                        </div>
                                        <div class="col-12 col-md-1">
                                            <label>Item</label>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <label>Descripción</label>
                                        </div>
                                        <div class="col-12 col-md-2">
                                            <label>Precio</label>
                                        </div>
                                    </div>
                                    <div class="" id="tb_DetalleServicio">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" id="divMontosTotales">
                        <div class="col-12">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtDescuentoPrincipal' class="col-md-6 control-label">% Descuento</label>
                                <div class="col-sm-6 p-0">
                                    <input id='txtDescuentoPrincipal' type='text' class="form-control form-control-sm text-right" value="0.00">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtGravada' class="col-md-6 control-label">Gravada</label>
                                <div class="col-sm-6 p-0">
                                    <input id='txtGravada' type='text' class="form-control form-control-sm text-right" value="0.00" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtSubTotalF' class="col-md-6 control-label">Exonerada</label>
                                <div class="col-sm-6 p-0">
                                    <input id='txtExonerado' type='text' class="form-control form-control-sm text-right" value="0.00" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtSubTotalF' class="col-md-6 control-label">Inafecta</label>
                                <div class="col-sm-6 p-0">
                                    <input id='txtInafecto' type='text' class="form-control form-control-sm text-right" value="0.00" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtSubTotalF' class="col-md-6 control-label">Anticipo (-)</label>
                                <div class="col-sm-6 p-0">
                                    <input id='txtAnticipo' type='text' class="form-control form-control-sm text-right" value="0.00" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtExportacion' class="col-md-6 control-label">Exportacion</label>
                                <div class="col-sm-6 p-0">
                                    <input id='txtExportacion' type='text' class="form-control form-control-sm text-right" value="0.00" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtGratuita' class="col-md-6 control-label">Gratuita</label>
                                <div class="col-sm-6 p-0">
                                    <input id='txtGratuita' type='text' class="form-control form-control-sm text-right" value="0.00" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtIGVF' class="col-md-6 control-label">IGV</label>
                                <div class="col-sm-6 p-0">
                                    <input id='txtIGVF' type='text' class="form-control form-control-sm text-right" value="0.00" onkeypress="return IngresoNumero(event)" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtOtrosCargosF' class="col-md-6 control-label">Otros Cargos</label>
                                <div class="col-sm-6 p-0">
                                    <input id='txtOtrosCargosF' type='text' class="form-control form-control-sm text-right" value="0.00" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtDescuento' class="col-md-6 control-label">Dcto Total</label>
                                <div class="col-sm-6 p-0">
                                    <input id='txtDescuento' type='text' class="form-control form-control-sm text-right" value="0.00" onkeypress="return IngresoNumero(event)" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtTotalF' class="col-md-6 control-label">Total</label>
                                <div class="col-sm-6 p-0">
                                    <input id='txtTotalF' type='text' class="form-control form-control-sm text-right" value="0.00" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id='modal-Modal' class='modal stick-up show' tabindex='-1' role='dialog' aria-labelledby='gridSystemModalLabel'>
    <div class='modal-dialog modal-lg' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class="modal-title" id="lblTituloModal">Marcas Registradas</h4>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="row" style="display:none;">
                        <div class='col-sm-12' id="div_Frm_Modal">
                            <!-- formulario del modal -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input id="txtFiltroMod" class="form-control form-control-sm" placeholder="Filtrar ... " />
                        </div>
                    </div>
                    <div class="row" id="rowTabla" style="font-size:12px;">
                        <div class="col-sm-12">
                            <div class="col-md-12 m-t-10 p-0" id="divTablaCabecera_Modal"></div>
                            <div class="col-md-12 table-responsive p-0" id="divTabla_Modal" style="max-height:350px;overflow-y:scroll;overflow-x:hidden;background-color:#f2f2f2">
                                <div id="contentArea" class="clusterize-content">

                                </div>
                            </div>
                        </div>
                        @*<div id="scrollArea" class="clusterize-scroll">

                            </div>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" id="btnGrabar_Modal" data-grabar="">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div id="div_Frm_Detalle" style="display:none">
    <div class="form-horizontal">
        <div class="form-group" style="display:none;">
            <input placeholder="" id="txtId_Detalle" type="text" style="display:none;">
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtCodigo_Detalle" class="control-label col-sm-3">Código</label>
                <div class="col-sm-3">
                    <input placeholder="Autgenerado" readonly="" id="txtCodigo_Detalle" type="text" maxlength="3" disabled="" class="form-control form-control-sm" tabindex="1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtDescripcion_Detalle" class="control-label col-sm-3">Descripción</label>
                <div class="col-sm-9">
                    <input id="txtDescripcion_Detalle" type="text" class="form-control form-control-sm" tabindex="3">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="chkActivo_Detalle" class="control-label col-sm-3">Activo</label>
                <div class="col-sm-9">
                    <input type="checkbox" id="chkActivo_Detalle" checked>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='modalPago' class='modal stick-up show lg' tabindex='-1' role='dialog' aria-labelledby='gridSystemModalLabel'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class="modal-title" id="lblTituloModal">Registrar Forma de Pago</h4>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
            </div>
            <br />
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class='col-sm-12' id="div_Frm_Modal">
                            <!-- formulario del modal -->
                        </div>
                        <div class="col-12 col-md-10">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtTipoPago">Tipo Pago</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-10 p-0" id="txtTipoPago">
                                            <select class="form-control form-control-sm" onchange="buscarXCombo()" id="cboTipoPago">
                                                <option value="" disabled selected>seleccione...</option>
                                                <option value="1" name="1">EFECTIVO</option>
                                                <option value="2" name="2">TARJETA</option>
                                                <option value="3" name="3">EFECTIVO Y TARJETA</option>
                                                <option value="4" name="4">YAPE</option>
                                                <option value="5" name="4">PLIN</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-10" id="divTarjeta">
                            <div class='form-group row m-b-5 p-l-10' i>
                                <label class="col-md-4 control-label" for="cbxTarjeta">Tarjeta</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-10 p-0" id="cbxTarjeta">
                                            <select class="form-control form-control-sm" id="cboTarjeta">
                                                <option value="0" disabled selected>seleccione...</option>
                                                <option value="1" name="1">VISA</option>
                                                <option value="2" name="2">MASTERCARD</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-10" id="divOperacion">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtNOperacion' class="control-label col-md-4" id="lblOperacion">Nro Operacion</label>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id='txtNOperacion' type='text' class="form-control form-control-sm">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-10" id="divObservacionCaja">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtObservacionCaja' class="control-label col-md-4">Observación</label>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <textarea rows="2" class="form-control form-control-sm" id="txtObservacionCaja"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" id="btnGrabarPago" data-grabar="">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Ventas/DocVenta.js"></script>


