@using System.Web.Optimization;
@{if (Session["Config"] == null)
    { @Html.Raw("<script>");
    @Html.Raw("location.href=window.location.origin+'/Home/Login';");
    @Html.Raw("</script>");
}
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<div class="row" id="rowTabla">
    <div class="col-lg-12">
        <div class="card" id="orderList">
            <div class="card-header border-0">
                <div class="row align-items-center gy-3">
                    <div class="col-sm">
                        <h3 class="content-header-title mb-0">Kardex Movimiento</h3>
                        <div class="row breadcrumbs-top">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Inventario</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Kardex Movimiento
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-auto d-none">
                        <div role="group" aria-label="Button group with nested dropdown" class="btn-group float-md-right">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right material-shadow-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Exportar
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
                                    <a class="btn dropdown-item" id="btnImprimirExcel"><i class="ri-file-excel-2-fill"></i> Excel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-4 mb-2">
                        <div class="input-group" style="flex-wrap:nowrap;">
                            <div class="input-group-text">Marca</div>
                            <select class="form-select" id="cboMarca">
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 col-lg-8 mb-2">
                        <div class="input-group" style="flex-wrap:nowrap;">
                            <div class="input-group-text">Producto</div>
                            <select class="form-select" id="cboProducto">
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-2">
                        <div class="input-group">
                            <div class="input-group-text">Fecha</div>
                            <input type="text" class="form-control flatpickr flatpickr-input" id="txtFilFecIn" data-provider="flatpickr" data-date-format="d/m/Y" autocomplete="off" />
                            <div class="input-group-text bg-primary border-primary text-white">
                                <i class="ri-calendar-2-line"></i>
                            </div>
                            <input type="text" class="form-control flatpickr-input" id="txtFilFecFn" data-provider="flatpickr" data-date-format="d/m/Y" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2 col-lg-2 mb-2">
                        <div>
                            <button class="btn btn-primary w-100" id="btnBuscar" type="button">
                                <i class="ri-equalizer-fill me-1 align-bottom"></i>Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
</div>
<div class="row" id="rowTabla">
    <div class="col-md-12">
        <div class="card p-l-20 p-r-20 m-b-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-12" id="divTabla">
                        <iframe id="ifrmReport" style="width:100%;height:100%; min-height:400px;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/basics")
<script src="~/assets/js/jspdf.debug.js"></script>
<script src="~/assets/js/jspdf.min.js"></script>
<script src="~/assets/js/jspdf.plugin.autotable.js"></script>
<script src="~/Scripts/Inventario/Kardex.js"></script>
