@{if (Session["Config"] == null)
    { @Html.Raw("<script>");
    @Html.Raw("location.href=window.location.origin+'/Home/Login';");
    @Html.Raw("</script>");
}
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Citas</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Labores Medicas</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Citas
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div role="group" aria-label="Button group with nested dropdown" class="btn-group float-md-right">
            <a onclick="mostrarDetalle(1)" class="btn btn-outline-primary" title="Nuevo"><i class="fa fa-plus"></i></a>
            <a class="btn btn-outline-primary" title="Imprimir"><i class="ft-printer" value="imprimir" id="btnImprimir"></i></a>
            <div role="group" class="btn-group">
                <button id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right"><i class="ft-settings icon-left"></i> Exportar</button>
                <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                    <a class="dropdown-item" value="1" id="btnImprimirPDF">Pdf</a>
                    <a  class="dropdown-item" value="2" id="btnImprimirExcel">Excel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card" id="rowFilter" style="margin-bottom:10px;">
    <div class="card-header" id="headingOne">
        <div class="row">
            <div class="col-sm-12">
                <a data-toggle="collapse" href="#collapseOne-2" role="button" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title" id="lblTi">Parámetros de Búsqueda</h4>
                </a>
            </div>
        </div>
    </div>
    <div id="collapseOne-2" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div class="col-12" id="frm">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4 col-12 p-0">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for="txtFilFecIn" class="control-label col-md-4 m-t-5">Fecha</label>
                                <div class="col-12 col-md-8">
                                    <div class="input-daterange input-group" id="datepicker-range">
                                        <input type="text" id="txtFechaInicio" class="form-control-sm form-control" name="start">
                                        <div class="input-group-addon">
                                            <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                        </div>
                                        <input type="text" id="txtFechaFin" class="form-control-sm form-control" name="end">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 p-0">
                            <button type='button' class='btn btn-success float-right waves-effect waves-light' id='btnBuscar'><i class="fa fa-search"></i> <span class="bold">Buscar</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="rowTabla">
    <div class="col-md-12">
        <div class="card p-l-20 p-r-20 m-b-0">
            <div class="card-body">
                <div class="row">
                    <div class="row col-12" style="margin-bottom:2px;">
                        <input id="txtFiltro" class="form-control input-sm col-12 col-md-4" placeholder="Filtrar ... " />
                    </div>
                    <div class="col-sm-12 d-none d-md-block" id="cabeTabla"></div>
                    <div class="col-sm-12 table-responsive" id="divTabla">
                        <div id="contentPrincipal" class="clusterize-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="rowFrm" style="display:none;">
    <div class="card col-sm-12">
        <div class="card-header p-b-0">
            <div class="row">
                <div class="col-sm-9">
                    <h4 class='panel-title' id='lblTituloPanel'>Nuevo Usuario</h4>
                </div>
                <div class="col-sm-3 pull-right">
                    <button type='button' class='btn btn-success pull-right waves-effect waves-light' id='btnGrabar' style="margin-left:10px;">Guardar</button>
                    <button type='button' class='btn btn-danger pull-right waves-effect waves-light' id="btnCancelar">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="card-body p-t-10 p-b-10">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="form-horizontal" role="form">
                        <div class="form-group-sm" style="display:none;">
                            <input placeholder='' id='txtID' type='text' style="display:none;">
                        </div>
                        <div class="row">
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label class='col-sm-4 control-label' for='txtCodigo'>Código Cita</label>
                                    <div class='col-sm-8'>
                                        <input class='form-control cf form-control-sm' id='txtCodigo' type='text' placeholder="Autogenerado" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label class='col-sm-4 control-label' for='txtFechaCita'>Fecha Cita</label>
                                    <div class='col-sm-8'>
                                        <input class='form-control cf form-control-sm' id='txtFechaCita' type='text'>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label class='col-sm-4 control-label' for='txtHoraCita'>Hora Cita</label>
                                    <div class='col-sm-8'>
                                        <input class='form-control cf form-control-sm' id='txtHoraCita' type='text'>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label class='col-sm-4 control-label' for='txtHoraCitaF'>Hora F.Cita</label>
                                    <div class='col-sm-8'>
                                        <input class='form-control cf form-control-sm' id='txtHoraCitaF' type='text'>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label class='col-sm-4 control-label' for='txtPaciente'>Paciente</label>
                                    <div class='col-sm-8 row pr-0'>
                                        <div class="col-10 pr-0">
                                            <input id="txtPaciente" type="text" class="form-control cfm form-control-sm">
                                        </div>
                                        <button id="btnModalPaciente" type="button" class="btn btn-info btn-sm pr-1 pl-1">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label class='col-sm-4 control-label' for='txtPersonal'>Personal</label>
                                    <div class='col-sm-8 row pr-0'>
                                        <div class="col-10 pr-0">
                                            <input id="txtPersonal" type="text" class="form-control cfm form-control-sm">
                                        </div>
                                        <button id="btnModalPersonal" type="button" class="btn btn-info btn-sm pr-1 pl-1">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label class='col-sm-4 control-label' for='txtServicio'>Servicio</label>
                                    <div class='col-sm-8 row pr-0'>
                                        <div class="col-10 pr-0">
                                            <input id="txtServicio" type="text" class="form-control cfm form-control-sm">
                                        </div>
                                        <button id="btnModalServicio" type="button" class="btn btn-info btn-sm pr-1 pl-1">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-6' style="display:none">
                                <div class='form-group row'>
                                    <label class="col-sm-4 control-label">Estado</label>
                                    <div class="col-sm-8">
                                        <div class="checkbox check-info">
                                            <input type="checkbox" checked="checked" name="chkActivo" id="chkActivo">
                                            <label for="chkActivo"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class='form-group row'>
                                    <label class='col-sm-2 control-label' for='txtObservaciones'>Observación</label>
                                    <div class='col-sm-10'>
                                        <textarea rows="3" class='form-control form-control-sm' id="txtObservaciones"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label class='col-sm-4 control-label' for='txtPago'>Pago: </label>
                                    <div class='col-sm-4'>
                                        <input class='form-control cf form-control-sm' id='txtPago' type='text'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='modal-Modal' class='modal stick-up show' tabindex='-1' role='dialog' aria-labelledby='gridSystemModalLabel'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class="modal-title" id="lblTituloModal">Marcas Registradas</h4>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="row" style="display:none;">
                        <div class='col-sm-12' id="div_Frm_Modal">
                            <!-- formulario del modal -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input id="txtFiltroMod" class="form-control form-control-sm" placeholder="Filtrar ... " />
                        </div>
                    </div>
                    <div class="row" id="rowTabla" style="font-size:12px;">
                        <div class="col-sm-12">
                            <div class="col-md-12 m-t-10" id="divTablaCabecera_Modal"></div>
                            <div class="col-md-12 table-responsive" id="divTabla_Modal" style="max-height:350px;overflow-y:scroll;overflow-x:hidden;background-color:#f2f2f2">
                                <div id="contentArea" class="clusterize-content">

                                </div>
                            </div>
                        </div>
                        @*<div id="scrollArea" class="clusterize-scroll">

                            </div>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" id="btnGrabar_Modal" data-grabar="">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div id="div_Frm_Detalle" style="display:none">
    <div class="form-horizontal">
        <div class="form-group" style="display:none;">
            <input placeholder="" id="txtId_Detalle" type="text" style="display:none;">
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtCodigo_Detalle" class="control-label col-sm-3">Código</label>
                <div class="col-sm-3">
                    <input placeholder="Autgenerado" readonly="" id="txtCodigo_Detalle" type="text" maxlength="3" disabled="" class="form-control form-control-sm" tabindex="1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtDescripcion_Detalle" class="control-label col-sm-3">Descripción</label>
                <div class="col-sm-9">
                    <input id="txtDescripcion_Detalle" type="text" class="form-control form-control-sm" tabindex="3">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="chkActivo_Detalle" class="control-label col-sm-3">Activo</label>
                <div class="col-sm-9">
                    <input type="checkbox" id="chkActivo_Detalle" checked>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='~/Scripts/app.js'></script>
<script src="~/Scripts/LabMedica/Citas.js"></script>
