@using System.Web.Optimization;
@{if (Session["Config"] == null)
    { @Html.Raw("<script>");
    @Html.Raw("location.href=window.location.origin+'/Home/Login';");
    @Html.Raw("</script>");
}
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Atencion Medica</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Citas</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Atencion Medica
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div role="group" aria-label="Button group with nested dropdown" class="btn-group float-md-right">
            <a onclick="mostrarDetalle(1)" class="btn btn-outline-primary" title="Nuevo"><i class="fa fa-plus"></i></a>
            <a class="btn btn-outline-primary" title="Imprimir"><i class="ft-printer" value="imprimir" id="btnImprimir"></i></a>
            <div role="group" class="btn-group">
                <button id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right"><i class="ft-settings icon-left"></i> Exportar</button>
                <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                    <a class="dropdown-item" value="1" id="btnImprimirPDF">Pdf</a>
                    <a class="dropdown-item" value="2" id="btnImprimirExcel">Excel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="rowTabla">
    <div class="col-md-12">
        <div class="card p-l-20 p-r-20 m-b-0">
            <div class="card-body">
                <div class="row">
                    <div class="row col-12" style="margin-bottom:2px;">
                        <input id="txtFiltro" class="form-control col-12 col-md-4" placeholder="Filtrar ... " />
                    </div>
                    <div class="col-sm-12 d-none d-md-block" id="cabeTabla"></div>
                    <div class="col-sm-12 table-responsive" id="divTabla">
                        <div id="contentPrincipal" class="clusterize-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="row" id="rowFrm" style="display:none;">
    <div class="card col-sm-12">
        <div class="card-header p-b-0">
            <div class="row">
                <div class="col-sm-9">
                    <h4 class='panel-title' id='lblTituloPanel'>Nuevo </h4>
                </div>
                <div class="col-sm-3 pull-right">
                    <button type='button' class='btn btn-success pull-right waves-effect waves-light' id='btnGrabar' style="margin-left:10px;">Guardar</button>
                    <button type='button' class='btn btn-danger pull-right waves-effect waves-light' id="btnCancelar">Cancelar</button>
                </div>
            </div>
        </div>
        <hr />
        <div class="card-body p-t-5 p-b-5">
            <h5>DATOS</h5>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='form-group row' style="display:none;">
                        <label class='col-sm-3 control-label' for='txtID'>idAtencion</label>
                        <div class='col-sm-9'>
                            <input class='form-control  form-control-sm' placeholder='' id='txtID' type='text'>
                        </div>
                    </div>
                    <div class='form-group row'>
                        <label class="col-md-2 control-label" for="txtCita">Cita</label>
                        <div class="col-md-8 row">
                            <input id="txtCita" type="text" class="form-control form-control-sm" readonly>
                        </div>
                        <button id="btnModalCita" type="button" class="btn btn-info btn-sm pr-2 pr-2">
                            <i class="pg-arrow_down"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='form-group row'>
                        <label class='col-md-2 control-label' for='txtMedico'>Medico</label>
                        <div class='col-md-10'>
                            <div class="row">
                                <div class="col-11 p-0">
                                    <input id="txtMedico" type="text" class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='form-group row'>
                        <label class='col-md-2 control-label' for='txtPaciente'>Paciente</label>
                        <div class='col-md-10'>
                            <div class="row">
                                <div class="col-11 p-0">
                                    <input id="txtPaciente" type="text" class="form-control form-control-sm" readonly>
                                </div>
                                <button id="btnModalPaciente" type="button" class="btn btn-info btn-sm pr-1 pr-1">
                                    <i class="pg-arrow_down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-2'>
                    <div class='form-group row'>
                        <label class='col-md-4 control-label' for='txtEdad'>Edad</label>
                        <div class='col-md-8'>
                            <input class='form-control  form-control-sm' placeholder='' id='txtEdad' type='text' readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <h5 style="padding-left:30px;">PLAN TERAPEUTICO</h5>
            <div class="col-md-12" style="padding-left:30px;">
                <div class="row">
                    <div class='col-md-12'>
                        <textarea class='form-control  form-control-sm vald' placeholder='' id='txtMotivoConsulta' rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="card-body p-t-5 p-b-5">
            <h5 style="padding-left:0px;">RECETA MEDICA</h5>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='form-group row'>
                        <label class='col-md-3 control-label' for='txtMedicamento'>Medicamento</label>
                        <div class='col-md-9'>
                            <div class="row">
                                <div class="col-11 p-0">
                                    <input id="txtMedicamento" type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='form-group row'>
                        <label class='col-md-4 control-label' for='txtDosis'>Dosis</label>
                        <div class='col-md-8'>
                            <input class='form-control  form-control-sm' placeholder='' id='txtDosis' type='text'>
                        </div>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='form-group row'>
                        <label class='col-md-4 control-label' for='txtVia'>Via</label>
                        <div class='col-md-8'>
                            <input class='form-control  form-control-sm' placeholder='' id='txtVia' type='text'>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='form-group row'>
                        <label class='col-md-3 control-label' for='txtFrecuencia'>Frecuencia</label>
                        <div class='col-md-3'>
                            <div class="row">
                                <div class="col-11 p-0">
                                    <input id="txtFrecuencia" type="text" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='form-group row'>
                        <label class='col-md-4 control-label' for='txtDuracion'>Duracion</label>
                        <div class='col-md-8'>
                            <input class='form-control  form-control-sm' placeholder='' id='txtDuracion' type='text'>
                        </div>
                    </div>
                </div>
                <div class='col-md-3'>
                    <button type='button' class='btn btn-cyan pull-right waves-effect waves-light' id='btnAgregar'>Agregar</button>
                </div>
            </div>
            <div class="col-12 col-md-12" id="tablaReceta">
                <div class="card-body">
                    <div class="col-sm-12 hidden-sm-down" id="cabeTablaF">
                    </div>
                    <div class="table-responsive" style="height:150px;">
                        <div class="row panel bg-info" style="color:white;margin:0px;margin-bottom:5px;padding:5px 20px 0px 20px;">
                            <div class="col-12 col-md-1" style="display:none;">
                                <label></label>
                            </div>
                            <div class="col-md-4">
                                <label>Medicamento</label>
                            </div>
                            <div class="col-md-2">
                                <label>Dosis</label>
                            </div>
                            <div class="col-md-2">
                                <label>Via</label>
                            </div>
                            <div class="col-md-2">
                                <label>Frecuencia</label>
                            </div>
                            <div class="col-md-2">
                                <label>Duracion</label>
                            </div>
                        </div>
                        <div class="" id="tb_DetalleReceta">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>

<!---->
<div id='modal-Modal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='gridSystemModalLabel'>
    <div class='modal-dialog modal-lg' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class="modal-title" id="lblTituloModal">Marcas Registradas</h4>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="row" style="display:none;">
                        <div class='col-sm-12' id="div_Frm_Modals">
                            <!-- formulario del modal -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input id="txtFiltroMod" class="form-control form-control-sm" placeholder="Filtrar ... " />
                        </div>
                    </div>
                    <div class="row" id="rowTabla">
                        <div class="col-sm-12">
                            <div class="col-md-12 m-t-10 p-0" id="divTablaCabecera_Modal"></div>
                            <div class="col-md-12 table-responsive p-0" id="divTabla_Modal" style="min-height:250px;overflow-y:scroll;overflow-x:hidden;">
                                <div id="contentArea" class="clusterize-content">

                                </div>
                            </div>
                        </div>
                        @*<div id="scrollArea" class="clusterize-scroll">

                            </div>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" id="btnGrabar_Modal" data-grabar="">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div id="div_Frm_Detalles" style="display:none">
    <div class="form-horizontal">
        <div class="form-group" style="display:none;">
            <input placeholder="" id="txtId_Detalle" type="text" style="display:none;">
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtCodigo_Detalle" class="control-label col-sm-3">Código</label>
                <div class="col-sm-3">
                    <input placeholder="Autgenerado" readonly="" id="txtCodigo_Detalle" type="text" maxlength="3" disabled="" class="form-control form-control-sm" tabindex="1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtDescripcion_Detalle" class="control-label col-sm-3">Descripción</label>
                <div class="col-sm-9">
                    <input id="txtDescripcion_Detalle" type="text" class="form-control form-control-sm" tabindex="3">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="chkActivo_Detalle" class="control-label col-sm-3">Activo</label>
                <div class="col-sm-9">
                    <input type="checkbox" id="chkActivo_Detalle" checked>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/basics")
<script src='~/Scripts/LabMedica/AtencionMedica.js'></script>