@{if (Session["Config"] == null)
    { @Html.Raw("<script>");
    @Html.Raw("location.href=window.location.origin+'/Home/Login';");
    @Html.Raw("</script>");
}
}
<style>
    .floatThead-wrapper {
        margin-top: 10px;
    }
</style>

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Reporte Pagar</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Compras</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Reporte Pagar
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div role="group" aria-label="Button group with nested dropdown" class="btn-group float-md-right">
            <!--<a onclick="mostrarDetalle(1)" class="btn btn-outline-primary" title="Nuevo"><i class="fa fa-plus"></i></a>-->
            <a class="btn btn-outline-primary" title="Imprimir"><i class="ft-printer" value="imprimir" id="btnImprimir"></i></a>
            <div role="group" class="btn-group">
                <button id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right"><i class="ft-settings icon-left"></i> Exportar</button>
                <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                    <a class="dropdown-item" value="1" id="btnImprimirPDF">Pdf</a>
                    <a class="dropdown-item" value="2" id="btnImprimirExcel">Excel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="error"></div>
</div>
<div class="row" id="rowTabla">
    <div class="col-md-12">
        <div class="card p-l-20 p-r-20 m-b-0">
            <div class="card-body">
                <div class="row">
                    <div class="row col-12 m-b-5 m-t-5" style="display:none">
                        <input id="txtFiltro" class="form-control input-sm col-12 col-md-4" placeholder="Filtrar ... " />
                        <div class="col-md-8">
                            <div class="btn-toolbar flex-wrap float-right" role="toolbar">

                            </div>
                        </div>
                    </div>

                    <div id="collapseOne-2" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="display:none">
                        <div class="card-body">
                            <div class="col-12" id="frm">
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-8 col-12 p-0">
                                            <div class='form-group row m-b-5 p-l-10'>
                                                <label for="txtFilFecIn" class="control-label col-md-4 m-t-5">Fecha</label>
                                                <div class="col-12 col-md-8">
                                                    <div class="input-daterange input-group" id="datepicker-range">
                                                        <input type="text" id="txtFilFecIn" class="input-sm form-control" name="start">
                                                        <div class="input-group-addon">
                                                            <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                        </div>
                                                        <input type="text" id="txtFilFecFn" class="input-sm form-control" name="end">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 p-0">
                                            <button type='button' class='btn btn-success float-right waves-effect waves-light' id='btnBuscar'><i class="fa fa-search"></i> <span class="bold">Buscar</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 hidden-sm-down" id="cabeTabla"></div>
                    <div class="col-sm-12 table-responsive" id="divTabla">

                        <div id="contentPrincipal" class="clusterize-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-b-10" style="display:none">
        <div class="card-body">
            <div class="table-responsive" style="height:200px;">
                <div class="" id="tb_DetalleF">

                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/app.js"></script>
<script src="~/Scripts/Compras/ReportePagar.js"></script>
