@using System.Web.Optimization;
@{if (Session["Config"] == null)
    { @Html.Raw("<script>");
    @Html.Raw("location.href=window.location.origin+'/Home/Login';");
    @Html.Raw("</script>");
}
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

<div class="row" id="rowTabla">
    <div class="col-lg-12">
        <div class="card" id="orderList">
            <div class="card-header border-0">
                <div class="row align-items-center gy-3">
                    <div class="col-sm">
                        <h3 class="content-header-title mb-0">Consulta Stock</h3>
                        <div class="row breadcrumbs-top">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Inventario</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Consulta Stock
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div role="group" aria-label="Button group with nested dropdown" class="btn-group float-md-right">
                            <a id="btnImprimir" class="btn btn-outline-primary hidden" title="Imprimir"><i class=" ri-printer-fill"></i></a>

                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right material-shadow-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Exportar
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
                                    <a id="btnImprimirPDF" class="btn dropdown-item"><i class="ri-file-pdf-fill"></i> Pdf</a>
                                    <a id="btnImprimirExcel" class="btn dropdown-item"><i class="ri-file-excel-2-fill"></i> Excel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-none">
                    <div class="col-12 col-md-4 col-lg-4 mb-2">
                        <div class="input-group">
                            <div class="input-group-text">Local</div>
                            <select class="form-select" aria-label="Default select example" id="cboLocal">
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 mb-2">
                        <div class="input-group">
                            <div class="input-group-text">Almacen</div>
                            <select class="form-select" aria-label="Default select example" id="cboAlmacen">
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 col-lg-2 mb-2">
                        <div>
                            <button class="btn btn-primary w-100" id="btnConsultar" type="button">
                                <i class="ri-equalizer-fill me-1 align-bottom"></i>Consultar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body border border-dashed border-end-0 border-start-0 pt-0">
                <div class="row">
                    <div class="table-responsive mt-3 mb-1 col-12" style="min-height:450px;">
                        <table class="table table-condensed table-bordered table-hover" id="tbDatos">
                            <thead class="text-muted table-light">
                                <tr class="">
                                    <th class="sort" data-sort="codigo">Código</th>
                                    <th class="sort" data-sort="marca">Marca</th>
                                    <th class="sort" data-sort="producto">Producto</th>
                                    <th class="sort" data-sort="stock">Stock</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--end col-->
</div>
@*<div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Consulta Stock</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Farmacia</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Consulta Stock
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-6 col-12">
                <div role="group" aria-label="Button group with nested dropdown" class="btn-group float-md-right">
                    <a onclick="" class="btn btn-outline-primary hidden" title="Nuevo"><i class="fa fa-plus"></i></a>
                    <a class="btn btn-outline-primary" title="Imprimir"><i class="ft-printer" value="imprimir" id="btnImprimir"></i></a>
                    <div role="group" class="btn-group">
                        <button id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right"><i class="ft-settings icon-left"></i> Exportar</button>
                        <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                            <a class="dropdown-item" value="1" id="btnImprimirPDF">Pdf</a>
                            <a class="dropdown-item" value="2" id="btnImprimirExcel">Excel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div id="error"></div>
        </div>

        <div class="card" id="rowFilter" style="margin-bottom:10px;">
            <div class="card-header" id="headingOne">
                <div class="row">
                    <div class="col-sm-12">
                        <a data-toggle="collapse" href="#collapseOne-2" role="button" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class='panel-title' id='lblTituloPanel'>Parámetros de Búsqueda</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-horizontal">
                    <div class="col-sm-12" id="frm">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="cboLocal" class="control-label col-sm-3">Local</label>
                                    <div class="col-sm-9">
                                        <select class="form-control form-control-sm" id="cboLocal"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="cboLocal" class="control-label col-sm-3">Almacen</label>
                                    <div class="col-sm-9">
                                        <select class="form-control form-control-sm" id="cboAlmacen">
                                            <option>Seleccione</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="row" id="rowTabla">
        <div class="col-md-12">
            <div class="card p-l-20 p-r-20 m-b-0">
                <div class="card-body">
                    <div class="row">
                        <div class="row col-12 m-b-5 m-t-5">
                            <input id="txtFiltro" class="form-control form-control-sm col-12 col-md-4" placeholder="Filtrar ... " />
                            <div class="col-md-8">
                                <div class="btn-toolbar flex-wrap float-right" role="toolbar">

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 hidden-sm-down" id="cabeTabla"></div>
                        <div class="col-sm-12 table-responsive" id="divTabla">
                            <div id="contentPrincipal" class="clusterize-content">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@

@Scripts.Render("~/bundles/basics")
<script src="~/assets/js/code.jquery.com_jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="~/Scripts/Inventario/ConsultaStock.js"></script>
