<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <p class="mb-0 text-muted">
                        ©
                        <script>document.write(new Date().getFullYear())</script> ERP de recursos humanos. Desarrollado <i class="mdi mdi-heart text-danger"></i> por Software798
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>