
@{if (Session["Config"] == null)
    { @Html.Raw("<script>");
    @Html.Raw("location.href=window.location.origin+'/Home/Login';");
    @Html.Raw("</script>");
}
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">MEDICAMENTO</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">FARMACIA</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Medicamento
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="content-header-right col-md-6 col-12">
        <div role="group" aria-label="Button group with nested dropdown" class="btn-group float-md-right">
            <a onclick="mostrarDetalle(1)" class="btn btn-outline-primary" title="Nuevo"><i class="fa fa-plus"></i></a>
            <a class="btn btn-outline-primary hidden" title="Imprimir"><i class="ft-printer" value="imprimir" id="btnImprimir"></i></a>
            <div role="group" class="btn-group hidden">
                <button id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right"><i class="ft-settings icon-left"></i> Exportar</button>
                <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                    <a class="dropdown-item" value="1" id="btnImprimirPDF">Pdf</a>
                    <a class="dropdown-item" value="2" id="btnImprimirExcel">Excel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="rowTabla">
    <div class="col-md-12">
        <div class="card p-l-20 p-r-20 m-b-0">
            <div class="card-body">
                <div class="row">
                    <div class="row col-12" style="margin-bottom:2px;">
                        <input id="txtFiltro" class="form-control form-control-sm col-12 col-md-4" placeholder="Filtrar ... " />
                    </div>
                    <div class="col-sm-12 d-none d-md-block" id="cabeTabla"></div>
                    <div class="col-sm-12 table-responsive" id="divTabla">
                        <div id="contentPrincipal" class="clusterize-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="rowFrm" style="display:none;">
    <div class="card col-sm-12">
        <div class="card-header p-b-0">
            <div class="row">
                <div class="col-sm-9">
                    <h4 class='panel-title' id='lblTituloPanel'>Nuevo Medicamento</h4>
                </div>
                <div class="col-sm-3 pull-right">
                    <button type='button' class='btn btn-success pull-right waves-effect waves-light' id='btnGrabar' style="margin-left:10px;">Guardar</button>
                    <button type='button' class='btn btn-danger pull-right waves-effect waves-light' id="btnCancelar">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="card-body p-t-10 p-b-10">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="form-horizontal" role="form">
                        <div class="form-group-sm" style="display:none;">
                            <input placeholder='' id='txtID' type='text' style="display:none;">
                        </div>
                        <div class='form-group row m-b-5 p-l-10'>
                            <label for='txtCodigo' class="control-label col-sm-3">Codigo</label>
                            <div class="col-12 col-sm-4">
                                <input id='txtCodigo' readonly placeholder='Autgenerado' type='text' class='form-control form-control-sm'>
                            </div>
                        </div>
                        <div class='form-group row m-b-5 p-l-10'>
                            <label for='txtCodigoProducto' class="control-label col-sm-3">Codigo Producto</label>
                            <div class="col-12 col-sm-4">
                                <input id="txtCodigoProducto" type="text" class="form-control form-control-sm" tabindex="1" />
                            </div>
                        </div>
                        <div class='form-group row m-b-5 p-l-10'>
                            <label for='txtDescripcion' class="control-label col-sm-3">Descripcion</label>
                            <div class="col-12 col-sm-4">
                                <input id="txtDescripcion" type="text" class='form-control form-control-sm' tabindex="2" />
                            </div>
                        </div>
                        <div class='form-group row m-b-5 p-l-10'>
                            <label for='cboLaboratorio' class="control-label col-sm-3">Laboratorio</label>
                            <div class="col-12 col-sm-4">
                                <select id='cboLaboratorio' class='form-control form-control-sm' tabindex="3" style="height:26px"></select>
                            </div>
                        </div>
                        <div class='form-group row m-b-5 p-l-10'>
                            <label class="control-label col-3">Estado</label>
                            <div class="col-sm-4">
                                <div class="checkbox check-info">
                                    <input type="checkbox" checked="checked" name="chkActivo" id="chkActivo" tabindex="4">
                                    <label for="chkActivo"></label>
                                </div>
                            </div>
                        </div>
                        <div class='form-group row m-b-5 p-l-10'>
                            <label for='txtPago' class="control-label col-sm-3">Precio Base</label>
                            <div class="col-12 col-sm-4">
                                <input id="txtPago" type="text" class="form-control form-control-sm" tabindex="5" onkeypress='return IngresoNumero(event)' />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='~/Scripts/app.js'></script>
<script src="~/Scripts/Farmacia/Medicamento.js"></script>
