
<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Stack admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Sistema Clínica DermoSalud</title>
    <link rel="apple-touch-icon" href="~/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/vendors.css">
    <link href="~/app-assets/css/vendors.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/forms/icheck/custom.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/login-register.css">

    <link href="~/app-assets/swal/sweetalert.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">*@
</head>
<body data-open="click" data-menu="vertical-menu-modern" data-col="1-column" class="vertical-layout vertical-menu-modern 1-column  bg-cyan bg-lighten-2 menu-expanded blank-page blank-page">
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <div class="p-1">
                                        <h4>Iniciar Sesión</h4>
                                        <img src="~/app-assets/images/logo/logo-dark.png" alt="branding logo"></div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body pt-0">
                                        <div class="form-horizontal">
                                            <fieldset class="form-group floating-label-form-group">
                                                <label for="user-name">Usuario</label>
                                                <input type="text" class="form-control" id="txtUsuario" placeholder="Usuario" value="">
                                            </fieldset>
                                            <fieldset class="form-group floating-label-form-group mb-1">
                                                <label for="user-password">Password</label>
                                                <input type="password" class="form-control" id="txtPassword" placeholder="Ingrese su Password" value="">
                                            </fieldset>
                                            <div class="form-group row">
                                            </div>
                                            <button id="btnLogin" class="btn btn-outline-primary btn-block"><i class="ft-unlock"></i> Login</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

    <div id='modalLoginTipoCambio' class='modal stick-up show lg' tabindex='-1' role='dialog' aria-labelledby='gridSystemModalLabel'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h4 class="modal-title" id="lblTituloModal">Registrar Tipo Cambio</h4>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                </div>
                <br />
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class='col-sm-12' id="div_Frm_Modal">
                                <!-- formulario del modal -->
                            </div>
                            <div class="col-12 col-md-10">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="control-label col-sm-4">Moneda</label>
                                    <div class="col-sm-8">

                                        <select class="form-control input-sm" id="txtLoginTipoMoneda">
                                            <option value="2">Dolar</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-10">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="control-label col-sm-4">V.Compra</label>
                                    <div class="col-sm-8">
                                        <input id='txtLoginValorCompra' type='text' class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-10">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="control-label col-sm-4">V.Venta</label>
                                    <div class="col-sm-8">
                                        <input id='txtLoginValorVenta' type='text' class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-10">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="control-label col-sm-4"></label>
                                    <label class="control-label col-sm-8" id="txtRptaTipoCambio" style="color:red;"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect waves-light" id="btnLoginOmitir">Omitir</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" id="btnLoginGrabarMonedaCambio" data-grabar="">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/forms/icheck/icheck.min.js" type="text/javascript"></script>
    <script src="~/app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="~/app-assets/js/core/app.js" type="text/javascript"></script>
    @*<script src="~/app-assets/js/scripts/customizer.js" type="text/javascript"></script>*@
    <script src="~/app-assets/js/scripts/forms/form-login-register.js" type="text/javascript"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/login.js"></script>

    <script src="~/app-assets/swal/sweetalert.min.js"></script>
    <script src="~/app-assets/swal/jquery.sweet-alert.custom.js"></script>
</body>
</html>