@using System.Web.Optimization;
@{if (Session["Config"] == null)
    { @Html.Raw("<script>");
    @Html.Raw("location.href=window.location.origin+'/Home/Login';");
    @Html.Raw("</script>");
}
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

<div class="row" id="rowTabla">
    <div class="col-lg-12">
        <div class="card" id="orderList">
            <div class="card-header border-0">
                <div class="row align-items-center gy-3">
                    <div class="col-sm">
                        <h3 class="content-header-title mb-0">Proveedores</h3>
                        <div class="row breadcrumbs-top">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Compras</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Proveedores
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div role="group" aria-label="Button group with nested dropdown" class="btn-group float-md-right">
                            <a onclick="mostrarDetalle(1)" class="btn btn-outline-primary" title="Nuevo"><i class="ri-add-line"></i></a>
                            <a id="btnImprimir" class="btn btn-outline-primary hidden" title="Imprimir"><i class=" ri-printer-fill"></i></a>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right material-shadow-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Exportar
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
                                    <a id="btnImprimirPDF" class="btn dropdown-item"><i class="ri-file-pdf-fill"></i> Pdf</a>
                                    <a id="btnImprimirExcel" class="btn dropdown-item"><i class="ri-file-excel-2-fill"></i> Excel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body border border-dashed border-end-0 border-start-0 pt-0">
                <div class="row">
                    <div class="table-responsive mt-3 mb-1 col-12" style="min-height:450px;">
                        <table class="table table-condensed table-bordered table-hover" id="tbDatos">
                            <thead class="text-muted table-light">
                                <tr class="">
                                    <th class="sort" data-sort="nroDocumento">N° Documento</th>
                                    <th class="sort" data-sort="razonSocial">Razón Social</th>
                                    <th class="sort" data-sort="fecha">Fecha</th>
                                    <th class="sort" data-sort="estado">Estado</th>
                                    <th class="sort" data-sort="action"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
</div>

<div id="rowFrm" style="display:none;">
    <div class="card m-b-10">
        <div class="card-header p-b-0">
            <div class="row">
                <div class="col-sm-9 mt-2">
                    <h4 class='panel-title' id='lblTituloPanel'>Nuevo Proveedor</h4>
                </div>
                <div class="col-sm-3 pull-right">
                    <button type='button' class='btn btn-success pull-right waves-effect waves-light' id='btnGrabar' style="margin-left:10px;">Guardar</button>
                    <button type='button' class='btn btn-danger pull-right waves-effect waves-light' id="btnCancelar">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="card-body p-t-10 p-b-10">
            <div class="row">
                <div class="col-lg-2 col-sm-6 mb-2 d-none">
                    <input placeholder='' id='txtID' type='text' style="display:none;">
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Codigo</span>
                        </div>
                        <input type="text" class="form-control" id="txtCodigo" placeholder='Autgenerado' autocomplete="off" readonly disabled>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Tipo Persona</span>
                        </div>
                        <select class="form-control vFormulario" id="cboTipoPersona">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Tipo Documento</span>
                        </div>
                        <select class="form-control vFormulario" id="cboTipoDocumento">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">N° Documento</span>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control vFormulario" id="txtNroDocumento" onkeypress="return IngresoNumero(event)" autocomplete="off">
                            <button class="btn btn-outline-success material-shadow-none" type="button" id="btnBSN">Reniec</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Razón Social</span>
                        </div>
                        <input type="text" class="form-control vFormulario" id="txtRazonSocial" autocomplete="off">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Web</span>
                        </div>
                        <input type="text" class="form-control" id="txtWeb" autocomplete="off">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Estado.C</span>
                        </div>
                        <input type="text" class="form-control" id="txtEstadoC" autocomplete="off">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Condicion.C</span>
                        </div>
                        <input type="text" class="form-control" id="txtCondicionC" autocomplete="off">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Mail</span>
                        </div>
                        <input type="text" class="form-control" id="txtMail" autocomplete="off">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Pais</span>
                        </div>
                        <select class="form-control vFormulario" id="cboPais">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Departamento</span>
                        </div>
                        <select class="form-control" id="cboDepartamento">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Provincia</span>
                        </div>
                        <select class="form-control" id="cboProvincia" disabled>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Distrito</span>
                        </div>
                        <select class="form-control" id="cboDistrito" disabled>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 mb-2">
                    <div class="form-check form-switch form-switch-lg" dir="ltr">
                        <input type="checkbox" class="form-check-input" id="chkCliente">
                        <label class="form-check-label" for="chkCliente">¿Es Cliente?</label>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 mb-2 d-none">
                    <div class="form-check form-switch form-switch-lg d-none" dir="ltr">
                        <input type="checkbox" class="form-check-input" id="chkProveedor">
                        <label class="form-check-label" for="chkProveedor">¿Es Proveedor?</label>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 mb-2">
                    <div class="form-check form-switch form-switch-lg" dir="ltr">
                        <input type="checkbox" class="form-check-input" id="chkActivo">
                        <label class="form-check-label" for="chkActivo">Activo</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-b-10">
        <div class="card-header">
            <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0"
                role="tablist">
                <li class="nav-item">
                    <a class="nav-link text-body active" data-bs-toggle="tab" href="#direccion"
                       role="tab">
                        <i class="far fa-user"></i>
                        Direcciones
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-body" data-bs-toggle="tab" href="#telefono"
                       role="tab">
                        <i class="far fa-user"></i>
                        Teléfonos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-body" data-bs-toggle="tab" href="#contacto"
                       role="tab">
                        <i class="far fa-envelope"></i>
                        Contactos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-body" data-bs-toggle="tab" href="#cuentas"
                       role="tab">
                        <i class="far fa-envelope"></i>
                        Cuentas Bancarias
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body p-4">
            <div class="tab-content">
                <div class="tab-pane active" id="direccion" role="tabpanel">
                    <div class="row mb-3">
                        <input type="text" class="form-control d-none" id="lblIdDireccion" autocomplete="off" disabled readonly>
                        <div class="col-lg-11">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Dirección</span>
                                </div>
                                <input type="text" class="form-control direccion vDireccion" id="txtDireccion" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-1 hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-dark" id="btnAgregarDireccion"> Agregar </button>
                        </div>
                    </div>
                    <div class="table-responsive table-card" style="min-height:200px;margin:0">
                        <table class="table table-nowrap table-sm align-middle">
                            <thead class="text-muted table-light">
                                <tr class="text-uppercase">
                                    <th class="">N°</th>
                                    <th class="">Dirección</th>
                                    <th class=""></th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all" id="tbDirecciones">
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end tab-pane-->
                <div class="tab-pane" id="telefono" role="tabpanel">
                    <div class="row mb-3">
                        <input type="text" class="form-control d-none" id="lblIdTelefono" autocomplete="off" disabled readonly>
                        <div class="col-lg-6">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Teléfono</span>
                                </div>
                                <input type="text" class="form-control telefono vTelefono" id="txtTelefono" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" class="btn btn-dark" id="btnAgregarTelefono"> Agregar </button>
                        </div>
                    </div>
                    <div class="table-responsive table-card" style="min-height:200px;margin:0">
                        <table class="table table-nowrap table-sm align-middle" id="">
                            <thead class="text-muted table-light">
                                <tr class="text-uppercase">
                                    <th class="">N°</th>
                                    <th class="">Teléfono</th>
                                    <th class=""></th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all" id="tbTelefonos">
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end tab-pane-->
                <div class="tab-pane" id="contacto" role="tabpanel">
                    <div class="row mb-3">
                        <input type="text" class="form-control d-none" id="lblIdContacto" autocomplete="off" disabled readonly>
                        <div class="col-lg-8">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nombre</span>
                                </div>
                                <input type="text" class="form-control contacto vContacto" id="txtNombre" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Cargo</span>
                                </div>
                                <input type="text" class="form-control contacto vContacto" id="txtCargo" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Teléfono</span>
                                </div>
                                <input type="text" class="form-control contacto vContacto" id="txtTelefonoContacto" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Mail</span>
                                </div>
                                <input type="text" class="form-control contacto vContacto" id="txtMailContacto" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" class="btn btn-dark" id="btnAgregarContacto"> Agregar </button>
                        </div>
                    </div>
                    <div class="table-responsive table-card" style="min-height:200px;margin:0">
                        <table class="table table-nowrap table-sm align-middle" id="">
                            <thead class="text-muted table-light">
                                <tr class="text-uppercase">
                                    <th class="">N°</th>
                                    <th class="">Nombre</th>
                                    <th class="">Cargo</th>
                                    <th class="">Teléfono</th>
                                    <th class="">Mail</th>
                                    <th class=""></th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all" id="tbContactos">
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end tab-pane-->
                <div class="tab-pane" id="cuentas" role="tabpanel">
                    <div class="row mb-3">
                        <input type="text" class="form-control d-none" id="lblIdCuenta" autocomplete="off" disabled readonly>
                        <div class="col-lg-4">
                            <div class="input-group mb-2" style="flex-wrap: nowrap;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Banco</span>
                                </div>
                                <select class="form-control cuenta vCuenta" id="cboBanco">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Cuenta</span>
                                </div>
                                <input type="text" class="form-control cuenta vCuenta" id="txtCuenta" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group mb-2" style="flex-wrap: nowrap;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Moneda</span>
                                </div>
                                <select class="form-control cuenta vCuenta" id="cboMoneda">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text ">Descripción</span>
                                </div>
                                <input type="text" class="form-control cuenta vCuenta" id="txtCuentaDescripcion" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" class="btn btn-dark" id="btnAgregarCuenta"> Agregar </button>
                        </div>
                    </div>
                    <div class="table-responsive table-card" style="min-height:200px;margin:0">
                        <table class="table table-nowrap table-sm align-middle" id="">
                            <thead class="text-muted table-light">
                                <tr class="text-uppercase">
                                    <th class="">N°</th>
                                    <th class="">Banco</th>
                                    <th class="">Cuenta</th>
                                    <th class="">Moneda</th>
                                    <th class="">Descripción</th>
                                    <th class=""></th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all" id="tbCuentas">
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end tab-pane-->
            </div>
        </div>
    </div>
</div>




<div id='modal-Busqueda' class='modal' tabindex='-1' role='dialog' aria-labelledby='gridSystemModalLabel'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class="modal-title" id="lblTituloModal">Marcas Registradas</h4>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <br />
                        <div class="form-horizontal">
                            <div class='row'>
                                <div class="col-12">
                                    <div class='form-group row m-b-5 p-l-10'>
                                        <label for='cboTipoBusqueda' class="control-label col-4">Busqueda</label>
                                        <div class="col-8">
                                            <select id='cboTipoBusqueda' type='text' class="form-control form-control-sm">
                                                <option value="" selected>Seleccione</option>
                                                <option value="1">Buscar en Reniec</option>
                                                <option value="2">Buscar en Sunat</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 rnc" style="display:none;">
                                    <div class='form-group row m-b-5 p-l-10'>
                                        <label for="" class="control-label col-sm-4 left-align">Captcha</label>
                                        <div class="col-8" id="imgCaptchaReniec" style="height:14px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 snt" style="display:none;">
                                    <div class='form-group row m-b-5 p-l-10'>
                                        <label for="" class="control-label col-4 left-align">Captcha</label>
                                        <div class="col-8" id="imgCaptcha" style="height:14px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 rnc" style="display:none;">
                                    <div class='form-group row m-b-5 p-l-10'>
                                        <label for="" class="control-label col-sm-4 left-align">Captcha</label>
                                        <div class="col-8">
                                            <input type="text" maxlength="4" id="txtCaptchaReniec" class="form-control form-control-sm" style="text-transform:uppercase;" tabindex="5" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 snt" style="display:none;">
                                    <div class='form-group row m-b-5 p-l-10'>
                                        <label for="" class="control-label col-sm-4">Captcha</label>
                                        <div class="col-sm-8">
                                            <input type="text" maxlength="4" id="txtCaptcha" class="form-control form-control-sm" style="text-transform:uppercase;" tabindex="5" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class='form-group row m-b-5 p-l-10'>
                                        <label for='txtDocuBusqueda' class="control-label col-4">N° Documento</label>
                                        <div class="col-8">
                                            <input id='txtDocuBusqueda' type='text' class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-info waves-effect waves-light" id="btnBSN">Buscar</button>
            </div>
        </div>
    </div>
</div>
<div id='modal-Modal' class='modal stick-up show' tabindex='-1' role='dialog' aria-labelledby='gridSystemModalLabel'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class="modal-title" id="lblTituloModal">Marcas Registradas</h4>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="row" style="display:none;">
                        <div class='col-sm-12' id="div_Frm_Modal">
                            <!-- formulario del modal -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input id="txtFiltroMod" class="form-control form-control-sm" placeholder="Filtrar ... " />
                        </div>
                    </div>
                    <div class="row" id="rowTabla" style="font-size:12px;">
                        <div class="col-sm-12">
                            <div class="col-md-12 m-t-10 p-0" id="divTablaCabecera_Modal"></div>
                            <div class="col-md-12 table-responsive p-0" id="divTabla_Modal" style="max-height:350px;overflow-y:scroll;overflow-x:hidden;background-color:#f2f2f2">
                                <div id="contentArea" class="clusterize-content">

                                </div>
                            </div>
                        </div>
                        @*<div id="scrollArea" class="clusterize-scroll">

                            </div>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" id="btnGrabar_Modal" data-grabar="">Guardar</button>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/basics")
<script src="~/assets/js/jspdf.debug.js"></script>
<script src="~/assets/js/jspdf.min.js"></script>
<script src="~/assets/js/jspdf.plugin.autotable.js"></script>
<script src="/assets/js/code.jquery.com_jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/assets/libs/list.js/list.min.js"></script>
<script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="~/Scripts/Administracion/Proveedores.js"></script>
