@{
    if (Session["Config"] == null)
    { 
        @Html.Raw("<script>");
        @Html.Raw("location.href=window.location.origin+'/Home/Login';");
        @Html.Raw("</script>");
    }
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Usuarios</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Seguridad</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Usuarios
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div role="group" aria-label="Button group with nested dropdown" class="btn-group float-md-right">
            <a onclick="mostrarDetalle(1)" class="btn btn-outline-primary" title="Nuevo"><i class="fa fa-plus"></i></a>
        </div>
    </div>
</div>
<div class="row" id="rowTabla">
    <div class="col-md-12">
        <div class="card p-l-20 p-r-20 m-b-0">
            <div class="card-body">
                <div class="row">
                    <div class="row col-12" style="margin-bottom:2px;">
                        <input id="txtFiltro" class="form-control form-control-sm col-12 col-md-4" placeholder="Filtrar ... " />
                    </div>
                    <div class="col-sm-12 d-none d-md-block" id="cabeTabla"></div>
                    <div class="col-sm-12 table-responsive" id="divTabla">
                        <div id="contentPrincipal" class="clusterize-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="rowFrm" style="display:none;">
    <div class="card col-sm-12">
        <div class="card-header p-b-0">
            <div class="row">
                <div class="col-sm-9">
                    <h4 class='panel-title' id='lblTituloPanel'>Nuevo Usuario</h4>
                </div>
                <div class="col-sm-3 pull-right">
                    <button type='button' class='btn btn-success pull-right waves-effect waves-light' id='btnGrabar' style="margin-left:10px;">Guardar</button>
                    <button type='button' class='btn btn-danger pull-right waves-effect waves-light' id="btnCancelar">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="card-body p-t-10 p-b-10">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="form-horizontal" role="form">
                        <div class="form-group-sm" style="display:none;">
                            <input placeholder='' id='txtID' type='text' style="display:none;">
                        </div>
                        <div class='form-group row m-b-5 p-l-10'>
                            <label for='txtCodigo' class="control-label col-sm-3">Codigo</label>
                            <div class="col-12 col-sm-4">
                                <input id='txtCodigo' readonly placeholder='Autgenerado' type='text' class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class='form-group row m-b-5 p-l-10'>
                            <label for='cboRol' class="control-label col-sm-3">Rol</label>
                            <div class="col-12 col-sm-4">
                                <select id='cboRol' type='text' class="form-control form-control-sm" tabindex="2"></select>
                            </div>
                        </div>

                        <div class='form-group row m-b-5 p-l-10'>
                            <label for='txtUsuario' class="control-label col-sm-3">Usuario</label>
                            <div class="col-12 col-sm-4">
                                <input id='txtUsuario' type='text' class="form-control form-control-sm" tabindex="3">
                            </div>
                        </div>
                        <div class='form-group row m-b-5 p-l-10'>
                            <label for='txtPassword' class="control-label col-sm-3">Password</label>
                            <div class="col-12 col-sm-4">
                                <input id='txtPassword' type='password' class="form-control form-control-sm" tabindex="3">
                            </div>
                        </div>
                        <div class='form-group row m-b-5 p-l-10'>
                            <label class="control-label col-3">Activo</label>
                            <div class="col-sm-4">
                                <div class="checkbox check-info">
                                    <input type="checkbox" checked="checked" name="chkActivo" id="chkActivo">
                                    <label for="chkActivo"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='~/Scripts/app.js'></script>
<script src="~/Scripts/Seguridad/Usuario.js"></script>
