@using System.Web.Optimization;
@{if (Session["Config"] == null)
    { @Html.Raw("<script>");
    @Html.Raw("location.href=window.location.origin+'/Home/Login';");
    @Html.Raw("</script>");
}
}
@{
    ViewBag.Title = "Entrada";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../node_modules/flatpickr/dist/flatpickr.min.css">

<div class="row" id="rowTabla">
    <div class="col-lg-12">
        <div class="card" id="orderList">
            <div class="card-header border-0">
                <div class="row align-items-center gy-3">
                    <div class="col-sm">
                        <h3 class="content-header-title mb-0">Nota de Ingreso</h3>
                        <div class="row breadcrumbs-top">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Inventario</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Movimientos
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Nota de Ingreso
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div role="group" aria-label="Button group with nested dropdown" class="btn-group float-md-right">
                            <a onclick="mostrarDetalle(1)" class="btn btn-outline-primary" title="Nuevo"><i class="ri-add-line"></i></a>
                            <a id="btnImprimir" class="btn btn-outline-primary hidden" title="Imprimir"><i class=" ri-printer-fill"></i></a>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right material-shadow-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Exportar
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
                                    <a id="btnImprimirPDF" class="btn dropdown-item"><i class="ri-file-pdf-fill"></i> Pdf</a>
                                    <a id="btnImprimirExcel" class="btn dropdown-item"><i class="ri-file-excel-2-fill"></i> Excel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 mb-2">
                        <div class="input-group mb-2" style="flex-wrap: nowrap;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fecha</span>
                            </div>
                            <input type="text" class="form-control flatpickr flatpickr-input" id="txtFilFecIn" data-provider="flatpickr" data-date-format="d/m/Y" autocomplete="off" />
                            <div class="input-group-text bg-primary border-primary text-white">
                                <i class="ri-calendar-2-line"></i>
                            </div>
                            <input type="text" class="form-control flatpickr flatpickr-input" id="txtFilFecFn" data-provider="flatpickr" data-date-format="d/m/Y" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2 col-lg-2 mb-2">
                        <div>
                            <button class="btn btn-primary w-100" id="btnBuscar" type="button">
                                <i class="ri-equalizer-fill me-1 align-bottom"></i>Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body border border-dashed border-end-0 border-start-0 pt-0">
                <div class="row">
                    <div class="table-responsive mt-3 mb-1 col-12" style="min-height:450px;">
                        <table class="table table-condensed table-bordered table-hover" id="tbDatos">
                            <thead class="text-muted table-light">
                                <tr class="">
                                    <th class="sort" data-sort="local">Local</th>
                                    <th class="sort" data-sort="observacion">Observación</th>
                                    <th class="sort" data-sort="fecha">Fecha</th>
                                    <th class="sort" data-sort="estado">Estado</th>
                                    <th class="sort" data-sort="action"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
</div>

<div id="rowFrm" style="display:none;">
    <div class="card m-b-10">
        <div class="card-header p-b-0">
            <div class="row">
                <div class="col-sm-9 mt-2">
                    <h4 class='panel-title' id='lblTituloPanel'>Nueva Entrada de Mercancía</h4>
                </div>
                <div class="col-sm-3 pull-right">
                    <button type='button' class='btn btn-success pull-right waves-effect waves-light' id='btnGrabar' style="margin-left:10px;">Guardar</button>
                    <button type='button' class='btn btn-danger pull-right waves-effect waves-light' id="btnCancelar">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="card-body p-t-10 p-b-10">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-2 d-none">
                    <input placeholder='' id='txtID' type='text' style="display:none;">
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Local</span>
                        </div>
                        <select class="form-control" id="cboLocalDet">
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Fecha Movimiento</span>
                        </div>
                        <input type="text" class="form-control flatpickr flatpickr-input" id="txtFecha" data-provider="flatpickr" data-date-format="d/m/Y" />
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Tipo Movimiento</span>
                        </div>
                        <select class="form-control" id="cboTipoMovimiento">
                        </select>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-6 mb-2" id="TCompra" style="display:none">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">N° Compra</span>
                        </div>
                        <select class="form-control" id="cboCompra">
                        </select>
                        <input type="text" class="form-control" id="txtCompra" style="display:none;" autocomplete="off" disabled>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Estado Movimiento</span>
                        </div>
                        <select class="form-control" id="cboEstadoMovimiento">
                        </select>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-6 mb-2">
                    <div class="input-group mb-2" style="flex-wrap: nowrap;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Observaciones</span>
                        </div>
                        <input type="text" class="form-control" id="txtObservacion" name="Observaciones" autocomplete="off">
                    </div>
                </div>
            </div>

            @*<div class="col-md-12">
                    <div class='form-horizontal'>
                        <div class="form-group row m-b-5 p-l-10" style="display:none;">
                            <input placeholder='' id='txtID' type='text' style="display:none;">
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="col-md-4 control-label" for="txtLocalDet">Local</label>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-10 p-0">
                                                <input id="txtLocalDet" type="text" class="form-control form-control-sm" readonly>
                                            </div>
                                            <button id="btnModalLocalDet" type="button" tabindex="14" class="btn btn-info btn-sm pr-1 pl-1">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="col-md-4 control-label" for="txtFecha">Fecha Mov.</label>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-10 p-0">
                                                <input id="txtFecha" type="text" class="form-control form-control-sm" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="col-md-4 control-label" for="txtTipoMovimiento">Tipo Mov.</label>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-10 p-0">
                                                <input id="txtTipoMovimiento" type="text" class="form-control form-control-sm" readonly>
                                            </div>
                                            <button id="btnModalTipoMovimiento" type="button" tabindex="14" class="btn btn-info btn-sm pr-1 pl-1">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" id="TGuia" style="display:none">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="col-md-4 control-label" for="txtGuia">Nro Guia</label>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-10 p-0">
                                                <input id="txtGuia" type="text" class="form-control form-control-sm" readonly>
                                            </div>
                                            <button id="btnModalGuia" type="button" class="btn waves-effect waves-light btn-info btn-xs" tabindex="14">
                                                <i class="pg-arrow_down"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" id="TCompra" style="display:none">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="col-md-4 control-label" for="txtCompra">Nro Compra</label>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-10 p-0">
                                                <input id="txtCompra" type="text" class="form-control form-control-sm" readonly>
                                            </div>
                                            <button id="btnModalCompra" type="button" class="btn btn-info btn-sm pr-1 pl-1" tabindex="14">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="col-md-4 control-label" for="txtEstadoMovimiento">Estado Movimiento</label>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-10 p-0">
                                                <input id="txtEstadoMovimiento" type="text" class="form-control form-control-sm" readonly>
                                            </div>
                                            <button id="btnModalEstadoMovimiento" type="button" tabindex="14" class="btn btn-info btn-sm pr-1 pl-1">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8" style="padding-left:0px;">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label for='txtObservacion' class="control-label col-md-2">Observaciones</label>
                                    <div class="col-md-10">
                                        <input id='txtObservacion' type='text' class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>

    <div class="card m-b-10">
        <div class="card-header" id="headingOne">
            <h4 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne-2" role="button" aria-expanded="true" aria-controls="collapseOne">
                    Datos de Producto
                </a>
            </h4>
        </div>
        <div id="collapseOne-2" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class='form-horizontal'>
                <div class="card-body">
                    <div class="row" id="art" style="padding:0px;">
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group mb-2" style="flex-wrap: nowrap;">
                                <div class="input-group-prepend">
                                    <label class="d-none" id="lblDetalleId"></label>
                                    <label class="d-none" id="lblMovimientoId"></label>
                                    <label class="d-none" id="lblRowItem"></label>
                                    <span class="input-group-text">Producto</span>
                                    <input type='text' class="d-none" placeholder='' id='txtFechaVencimiento'>
                                </div>
                                <select class="form-control" id="cboProducto">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Cantidad</div>
                                <input type="text" class="form-control" id="txtCantidad" autocomplete="off" onkeypress="return IngresoNumero(event)">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Precio</div>
                                <input type="text" class="form-control" id="txtPrecio" autocomplete="off" onkeypress="return IngresoNumero(event)">
                            </div>
                        </div>
                        @*<div class="col-12 col-md-4">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="col-md-4 control-label" for="txtArticulo">Medicamento</label>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-10 p-0">
                                                <input id="txtArticulo" type="text" value="articulo1" class="form-control form-control-sm" readonly>
                                            </div>
                                            <button id="btnModalArticulo" type="button" tabindex="15" class="btn btn-info btn-sm pr-1 pl-1">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="col-md-4 control-label" for="txtCantidad">Cantidad</label>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-10 p-0">
                                                <input id="txtCantidad" type="text" class="form-control form-control-sm" onkeypress="return IngresoNumero(event)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="col-md-4 control-label" for="txtPrecio">Precio</label>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-10 p-0">
                                                <input id="txtPrecio" type="text" class="form-control form-control-sm" onkeypress="return IngresoNumero(event)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="row" id="art2" style="padding:0px;">
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Marca</div>
                                <input type="text" class="form-control" id="txtMarca" autocomplete="off" disabled>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Stock Actual</div>
                                <input type="text" class="form-control" id="txtStock" autocomplete="off" disabled>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Stock Total</div>
                                <input type="text" class="form-control" id="txtStockTotal" autocomplete="off" disabled>
                            </div>
                        </div>

                        @*<div class="col-12 col-md-4">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="col-md-4 control-label" for="txtMarca">Laboratorio</label>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-10 p-0">
                                                <input id="txtMarca" type="text" value="m1" class="form-control form-control-sm" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="col-md-4 control-label" for="txtStock">Stock Actual</label>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-10 p-0">
                                                <input id="txtStock" type="text" class="form-control form-control-sm" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class='form-group row m-b-5 p-l-10'>
                                    <label class="col-md-4 control-label" for="txtStockTotal">Stock Total</label>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-10 p-0">
                                                <input id="txtStockTotal" type="text" class="form-control form-control-sm" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="row mt-2" id="art3" style="padding:0px;">
                        <div class="col-lg-4 col-sm-6 mb-2" style="display:none">
                            <div class="input-group">
                                <div class="input-group-text">Unidad de Medida</div>
                                <input type="text" class="form-control" id="txtUnidadMedida" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 mb-2">
                            <button type="button" id="btnAgregarArticulo" class="btn btn-dark">Agregar Detalle</button>
                            @*<button type='button' class='btn btn-sm btn-success pull-right waves-effect waves-light' style="margin-left:10px;" id='btnAgregarDetalle'>Agregar</button>
                                <button type='button' class='btn btn-sm btn-success pull-right waves-effect waves-light' style="display:none;margin-left:10px;" onclick='guardarItemDetalle()' id='btnGrabarDetalle'>New</button>
                                <button type='button' class='btn btn-sm btn-danger pull-right waves-effect waves-light' style="display:none;" onclick='eliminarDetalle()' id='btnCancelarDetalle'>Cancelar</button>*@
                        </div>
                        @*<div class="col-12 col-md-8"></div>
                            <div class="col-12 col-md-4 text-right" style="padding:0px;padding-right:60px;">
                                <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light col-md-6" id="btnAgregarArticulo">Agregar</button>
                                <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light col-md-6" id="btnActualizarArticulo" onclick="guardarItemDetalle()" style="display:none">Actualizar</button>
                                <button type="submit" class="btn btn-danger btn-sm waves-effect waves-light col-md-6" id="btnCancelarArticulo" style="display:none">Cancelar</button>
                            </div>*@
                    </div>
                    <div class="row mt-2">
                        <div class="table-responsive table-card" style="min-height:200px;margin:0">
                            <table class="table table-nowrap table-sm align-middle">
                                <thead class="text-muted table-light">
                                    <tr class="text-uppercase">
                                        <th class="d-none">id</th>
                                        <th>Item</th>
                                        <th>Producto</th>
                                        <th>Marca</th>
                                        <th class="d-none">U.M.</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th class="d-none">idRefDetalle</th>
                                        <th style="width:90px"></th>
                                    </tr>
                                </thead>
                                <tbody class="list form-check-all" id="tbDetalle">
                                </tbody>
                            </table>
                        </div>
                    </div>


                    @*<div id="collapseOne-2" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="col-sm-12 hidden-sm-down" id="cabeTablaArticulo">
                                    <div class="row panel bg-info" style="color:white;margin-bottom:5px;padding:5px 20px 0px 20px;">
                                        <div class="col-12 col-md-2" style="display:none;">
                                            <label>id</label>
                                        </div>
                                        <div class="col-12 col-md-1">
                                            <label>Item</label>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <label>Articulo</label>
                                        </div>
                                        <div class="col-12 col-md-2">
                                            <label>Laboratorio</label>
                                        </div>
                                        <div class="col-12 col-md-3" style="display:none">
                                            <label>Unid Medida</label>
                                        </div>
                                        <div class="col-12 col-md-2">
                                            <label>Cantidad</label>
                                        </div>
                                        <div class="col-12 col-md-2">
                                            <label>Precio</label>
                                        </div>
                                        <div class="col-12 col-md-3" style="display:none">
                                            <label>idRefDetalle</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 table-responsive" id="divTablaArticulo">
                                    <div id="contentArticulo" class="clusterize-content">

                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>



<div id='modal-Modal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='gridSystemModalLabel'>
    <div class='modal-dialog modal-lg' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class="modal-title" id="lblTituloModal">Marcas Registradas</h4>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="row" style="display:none;">
                        <div class='col-sm-12' id="div_Frm_Modals">
                            <!-- formulario del modal -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input id="txtFiltroMod" class="form-control form-control-sm" placeholder="Filtrar ... " />
                        </div>
                    </div>
                    <div class="row" id="rowTabla">
                        <div class="col-sm-12">
                            <div class="col-md-12 m-t-10" id="divTablaCabecera_Modal"></div>
                            <div class="col-md-12 table-responsive" id="divTabla_Modal" style="max-height:350px;overflow-y:scroll;overflow-x:hidden;" ;background-color:#f2f2f2">
                                <div id="contentArea" class="clusterize-content">

                                </div>
                            </div>
                        </div>
                        @*<div id="scrollArea" class="clusterize-scroll">

                            </div>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" id="btnGrabar_Modal" data-grabar="">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div id="div_Frm_Detalles" style="display:none">
    <div class="form-horizontal">
        <div class="form-group" style="display:none;">
            <input placeholder="" id="txtId_Detalle" type="text" style="display:none;">
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtCodigo_Detalle" class="control-label col-sm-3">Código</label>
                <div class="col-sm-3">
                    <input placeholder="Autgenerado" readonly="" id="txtCodigo_Detalle" type="text" maxlength="3" disabled="" class="form-control form-control-sm" tabindex="1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtDescripcion_Detalle" class="control-label col-sm-3">Descripción</label>
                <div class="col-sm-9">
                    <input id="txtDescripcion_Detalle" type="text" class="form-control form-control-sm" tabindex="3">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="chkActivo_Detalle" class="control-label col-sm-3">Activo</label>
                <div class="col-sm-9">
                    <input type="checkbox" id="chkActivo_Detalle" checked>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/basics")
<script src="~/Scripts/Inventario/OperacionStock_Entrada.js"></script>
