@using System.Web.Optimization;
@{if (Session["Config"] == null)
    { @Html.Raw("<script>");
    @Html.Raw("location.href=window.location.origin+'/Home/Login';");
    @Html.Raw("</script>");
}
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Nota de Ingreso</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">FARMACIA</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Movimientos
                    </li>
                    <li class="breadcrumb-item active">
                        Nota de Ingreso
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div role="group" aria-label="Button group with nested dropdown" class="btn-group float-md-right">
            <a onclick="mostrarDetalle(1)" class="btn btn-outline-primary" title="Nuevo"><i class="fa fa-plus"></i></a>
            <a class="btn btn-outline-primary" title="Imprimir"><i class="ft-printer" value="imprimir" id="btnImprimir"></i></a>
            <div role="group" class="btn-group">
                <button id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right"><i class="ft-settings icon-left"></i> Exportar</button>
                <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                    <a class="dropdown-item" value="1" id="btnImprimirPDF">Pdf</a>
                    <a class="dropdown-item" value="2" id="btnImprimirExcel">Excel</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="rowFrm" style="display:none;">
    <div class="card m-b-10">
        <div class="card-header p-b-0">
            <div class="row">
                <div class="col-sm-9">
                    <h4 class='panel-title' id='lblTituloPanel'>Nueva Entrada de Mercancía</h4>
                </div>
                <div class="col-sm-3 pull-right">
                    <button type='button' class='btn btn-success pull-right waves-effect waves-light' id='btnGrabar' style="margin-left:10px;">Guardar</button>
                    <button type='button' class='btn btn-danger pull-right waves-effect waves-light' id="btnCancelar">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="card-body p-t-10 p-b-10">
            <div class="col-md-12">
                <div class='form-horizontal'>
                    <div class="form-group row m-b-5 p-l-10" style="display:none;">
                        <input placeholder='' id='txtID' type='text' style="display:none;">
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtLocalDet">Local</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtLocalDet" type="text" class="form-control form-control-sm" readonly>
                                        </div>
                                        <button id="btnModalLocalDet" type="button" tabindex="14" class="btn btn-info btn-sm pr-1 pl-1">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtFecha">Fecha Mov.</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtFecha" type="text" class="form-control form-control-sm" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtTipoMovimiento">Tipo Mov.</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtTipoMovimiento" type="text" class="form-control form-control-sm" readonly>
                                        </div>
                                        <button id="btnModalTipoMovimiento" type="button" tabindex="14" class="btn btn-info btn-sm pr-1 pl-1">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" id="TGuia" style="display:none">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtGuia">Nro Guia</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtGuia" type="text" class="form-control form-control-sm" readonly>
                                        </div>
                                        <button id="btnModalGuia" type="button" class="btn waves-effect waves-light btn-info btn-xs" tabindex="14">
                                            <i class="pg-arrow_down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4" id="TCompra" style="display:none">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtCompra">Nro Compra</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtCompra" type="text" class="form-control form-control-sm" readonly>
                                        </div>
                                        <button id="btnModalCompra" type="button" class="btn btn-info btn-sm pr-1 pl-1" tabindex="14">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtEstadoMovimiento">Estado Movimiento</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtEstadoMovimiento" type="text" class="form-control form-control-sm" readonly>
                                        </div>
                                        <button id="btnModalEstadoMovimiento" type="button" tabindex="14" class="btn btn-info btn-sm pr-1 pl-1">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8" style="padding-left:0px;">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for='txtObservacion' class="control-label col-md-2">Observaciones</label>
                                <div class="col-md-10">
                                    <input id='txtObservacion' type='text' class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card m-b-10">
        <div class="card-header" id="headingOne">
            <h4 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne-2" role="button" aria-expanded="true" aria-controls="collapseOne">
                    Datos de Medicamento
                </a>
            </h4>
        </div>
        <div id="collapseOne-2" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class='form-horizontal'>
                <div class="card-body">
                    <div class="row" id="art" style="padding:0px;">
                        <div class="col-12 col-md-4">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtArticulo">Medicamento</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtArticulo" type="text" value="articulo1" class="form-control form-control-sm" readonly>
                                        </div>
                                        <button id="btnModalArticulo" type="button" tabindex="15" class="btn btn-info btn-sm pr-1 pl-1">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtCantidad">Cantidad</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtCantidad" type="text" class="form-control form-control-sm" onkeypress="return IngresoNumero(event)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtPrecio">Precio</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtPrecio" type="text" class="form-control form-control-sm" onkeypress="return IngresoNumero(event)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="art2" style="padding:0px;">
                        <div class="col-12 col-md-4">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtMarca">Laboratorio</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtMarca" type="text" value="m1" class="form-control form-control-sm" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtStock">Stock Actual</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtStock" type="text" class="form-control form-control-sm" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtStockTotal">Stock Total</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtStockTotal" type="text" class="form-control form-control-sm" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="art3" style="padding:0px;">
                        <div class="col-12 col-md-4" style="display:none">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label class="col-md-4 control-label" for="txtUnidadMedida">Unidad de Medida</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-10 p-0">
                                            <input id="txtUnidadMedida" value="UNI" type="text" class="form-control form-control-sm" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8"></div>
                        <div class="col-12 col-md-4 text-right" style="padding:0px;padding-right:60px;">
                            <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light col-md-6" id="btnAgregarArticulo">Agregar</button>
                            <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light col-md-6" id="btnActualizarArticulo" onclick="guardarItemDetalle()" style="display:none">Actualizar</button>
                            <button type="submit" class="btn btn-danger btn-sm waves-effect waves-light col-md-6" id="btnCancelarArticulo" style="display:none">Cancelar</button>
                        </div>
                    </div>

                    <div id="collapseOne-2" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="col-sm-12 hidden-sm-down" id="cabeTablaArticulo">
                                <div class="row panel bg-info" style="color:white;margin-bottom:5px;padding:5px 20px 0px 20px;">
                                    <div class="col-12 col-md-2" style="display:none;">
                                        <label>id</label>
                                    </div>
                                    <div class="col-12 col-md-1">
                                        <label>Item</label>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <label>Articulo</label>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <label>Laboratorio</label>
                                    </div>
                                    <div class="col-12 col-md-3" style="display:none">
                                        <label>Unid Medida</label>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <label>Cantidad</label>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <label>Precio</label>
                                    </div>
                                    <div class="col-12 col-md-3" style="display:none">
                                        <label>idRefDetalle</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 table-responsive" id="divTablaArticulo">
                                <div id="contentArticulo" class="clusterize-content">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card" id="rowFilter" style="margin-bottom:10px;">
    <div class="card-header" id="headingOne">
        <div class="row">
            <div class="col-sm-12">
                <a data-toggle="collapse" href="#collapseOne-2" role="button" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title" id="lblTi">Parámetros de Búsqueda</h4>
                </a>
            </div>
        </div>
    </div>
    <div id="collapseOne-2" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div class="col-12" id="frm">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6 col-12 p-0">
                            <div class='form-group row m-b-5 p-l-10'>
                                <label for="txtFilFecIn" class="control-label col-md-2">Fecha</label>
                                <div class="col-12 col-md-8">
                                    <div class="input-daterange input-group" id="datepicker-range">
                                        <input type="text" id="txtFilFecIn" class="form-control form-control-sm" name="start">
                                        <div class="input-group-addon">
                                            <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                        </div>
                                        <input type="text" id="txtFilFecFn" class="form-control form-control-sm" " name="end">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 p-0">
                            <button type='button' class='btn btn-success float-right waves-effect waves-light' id='btnBuscar'><i class="fa fa-search"></i> <span class="bold">Buscar</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="rowTabla">
    <div class="col-md-12">
        <div class="card p-l-20 p-r-20 m-b-0">
            <div class="card-body">
                <div class="row">
                    <div class="row col-12 m-b-5 m-t-5" style="display:none">
                        <input id="txtFiltro" class="form-control form-control-sm col-12 col-md-4" placeholder="Filtrar ... " />
                        <div class="col-md-8">
                            <div class="btn-toolbar flex-wrap float-right" role="toolbar">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 hidden-sm-down" id="cabeTabla"></div>
                    <div class="col-sm-12 table-responsive" id="divTabla">
                        <div id="contentPrincipal" class="clusterize-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id='modal-Modal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='gridSystemModalLabel'>
    <div class='modal-dialog modal-lg' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class="modal-title" id="lblTituloModal">Marcas Registradas</h4>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="row" style="display:none;">
                        <div class='col-sm-12' id="div_Frm_Modals">
                            <!-- formulario del modal -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input id="txtFiltroMod" class="form-control form-control-sm" placeholder="Filtrar ... " />
                        </div>
                    </div>
                    <div class="row" id="rowTabla">
                        <div class="col-sm-12">
                            <div class="col-md-12 m-t-10" id="divTablaCabecera_Modal"></div>
                            <div class="col-md-12 table-responsive" id="divTabla_Modal" style="max-height:350px;overflow-y:scroll;overflow-x:hidden;" ;background-color:#f2f2f2">
                                <div id="contentArea" class="clusterize-content">

                                </div>
                            </div>
                        </div>
                        @*<div id="scrollArea" class="clusterize-scroll">

                            </div>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" id="btnGrabar_Modal" data-grabar="">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div id="div_Frm_Detalles" style="display:none">
    <div class="form-horizontal">
        <div class="form-group" style="display:none;">
            <input placeholder="" id="txtId_Detalle" type="text" style="display:none;">
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtCodigo_Detalle" class="control-label col-sm-3">Código</label>
                <div class="col-sm-3">
                    <input placeholder="Autgenerado" readonly="" id="txtCodigo_Detalle" type="text" maxlength="3" disabled="" class="form-control form-control-sm" tabindex="1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtDescripcion_Detalle" class="control-label col-sm-3">Descripción</label>
                <div class="col-sm-9">
                    <input id="txtDescripcion_Detalle" type="text" class="form-control form-control-sm" tabindex="3">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="chkActivo_Detalle" class="control-label col-sm-3">Activo</label>
                <div class="col-sm-9">
                    <input type="checkbox" id="chkActivo_Detalle" checked>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/basics")
<script src="~/Scripts/Inventario/OperacionStock_Entrada.js"></script>
