@using System.Web.Optimization;
@{if (Session["Config"] == null)
    { @Html.Raw("<script>");
    @Html.Raw("location.href=window.location.origin+'/Home/Login';");
    @Html.Raw("</script>");
}
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

<div class="row" id="rowTabla">
    <div class="col-lg-12">
        <div class="card" id="orderList">
            <div class="card-header border-0">
                <div class="row align-items-center gy-3">
                    <div class="col-sm">
                        <h3 class="content-header-title mb-0">Nota de Salida</h3>
                        <div class="row breadcrumbs-top">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Inventario</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Movimientos
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Nota de Salida
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div role="group" aria-label="Button group with nested dropdown" class="btn-group float-md-right">
                            <a onclick="mostrarDetalle(1)" class="btn btn-outline-primary" title="Nuevo"><i class="ri-add-line"></i></a>
                            <a id="btnImprimir" class="btn btn-outline-primary hidden" title="Imprimir"><i class=" ri-printer-fill"></i></a>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right material-shadow-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Exportar
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
                                    <a id="btnImprimirPDF" class="btn dropdown-item"><i class="ri-file-pdf-fill"></i> Pdf</a>
                                    <a id="btnImprimirExcel" class="btn dropdown-item"><i class="ri-file-excel-2-fill"></i> Excel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 mb-2">
                        <div class="input-group mb-2" style="flex-wrap: nowrap;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fecha</span>
                            </div>
                            <input type="text" class="form-control flatpickr flatpickr-input" id="txtFilFecIn" data-provider="flatpickr" data-date-format="d/m/Y" autocomplete="off" />
                            <div class="input-group-text bg-primary border-primary text-white">
                                <i class="ri-calendar-2-line"></i>
                            </div>
                            <input type="text" class="form-control flatpickr flatpickr-input" id="txtFilFecFn" data-provider="flatpickr" data-date-format="d/m/Y" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-12 col-md-2 col-lg-2 mb-2">
                        <div>
                            <button class="btn btn-primary w-100" id="btnBuscar" type="button">
                                <i class="ri-equalizer-fill me-1 align-bottom"></i>Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body border border-dashed border-end-0 border-start-0 pt-0">
                <div class="row">
                    <div class="table-responsive mt-3 mb-1 col-12" style="min-height:450px;">
                        <table class="table table-condensed table-bordered table-hover" id="tbDatos">
                            <thead class="text-muted table-light">
                                <tr class="">
                                    <th class="sort" data-sort="local">Local</th>
                                    <th class="sort" data-sort="observacion">Observación</th>
                                    <th class="sort" data-sort="fecha">Fecha</th>
                                    <th class="sort" data-sort="estado">Estado</th>
                                    <th class="sort" data-sort="action"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
</div>

<div id="rowFrm" style="display:none;">
    <div class="card m-b-10">
        <div class="card-header p-b-0">
            <div class="row">
                <div class="col-sm-9 mt-2">
                    <h4 class='panel-title' id='lblTituloPanel'>Nueva Salida de Mercancía</h4>
                </div>
                <div class="col-sm-3 pull-right">
                    <button type='button' class='btn btn-success pull-right waves-effect waves-light' id='btnGrabar' style="margin-left:10px;">Guardar</button>
                    <button type='button' class='btn btn-danger pull-right waves-effect waves-light' id="btnCancelar">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="card-body p-t-10 p-b-10">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-2 d-none">
                        <input placeholder='' id='txtID' type='text' style="display:none;">
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-2">
                        <div class="input-group mb-2" style="flex-wrap: nowrap;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Local</span>
                            </div>
                            <select class="form-control" id="cboLocalDet">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-2">
                        <div class="input-group mb-2" style="flex-wrap: nowrap;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Fecha Movimiento</span>
                            </div>
                            <input type="text" class="form-control flatpickr flatpickr-input" id="txtFecha" data-provider="flatpickr" data-date-format="d/m/Y" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-2">
                        <div class="input-group mb-2" style="flex-wrap: nowrap;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tipo Movimiento</span>
                            </div>
                            <select class="form-control" id="cboTipoMovimiento">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-6 mb-2" id="TVenta" style="display:none">
                        <div class="input-group mb-2" style="flex-wrap: nowrap;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">N° Venta</span>
                            </div>
                            <select class="form-control" id="cboVenta">
                            </select>
                            <input type="text" class="form-control" id="txtVenta" style="display:none;" autocomplete="off" disabled>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-2">
                        <div class="input-group mb-2" style="flex-wrap: nowrap;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Estado Movimiento</span>
                            </div>
                            <select class="form-control" id="cboEstadoMovimiento">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 mb-2">
                        <div class="input-group mb-2" style="flex-wrap: nowrap;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Observaciones</span>
                            </div>
                            <input type="text" class="form-control" id="txtObservacion" name="Observaciones" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-b-10">
        <div class="card-header" id="headingOne">
            <h4 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne-2" role="button" aria-expanded="true" aria-controls="collapseOne">
                    Datos de Producto
                </a>
            </h4>
        </div>
        <div id="collapseOne-2" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class='form-horizontal'>
                <div class="card-body">
                    <div class="row" id="art" style="padding:0px;">
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group mb-2" style="flex-wrap: nowrap;">
                                <div class="input-group-prepend">
                                    <label class="d-none" id="lblDetalleId"></label>
                                    <label class="d-none" id="lblMovimientoId"></label>
                                    <span class="input-group-text">Producto</span>
                                    <input type='text' class="d-none" placeholder='' id='txtFechaVencimiento'>
                                </div>
                                <select class="form-control" id="cboProducto">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Cantidad</div>
                                <input type="text" class="form-control" id="txtCantidad" autocomplete="off" onkeypress="return IngresoNumero(event)">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Precio</div>
                                <input type="text" class="form-control" id="txtPrecio" autocomplete="off" onkeypress="return IngresoNumero(event)">
                            </div>
                        </div>
                    </div>
                    <div class="row" id="art2" style="padding:0px;">
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Marca</div>
                                <input type="text" class="form-control" id="txtMarca" autocomplete="off" disabled>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Stock Actual</div>
                                <input type="text" class="form-control" id="txtStock" autocomplete="off" disabled>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-text">Stock Total</div>
                                <input type="text" class="form-control" id="txtStockTotal" autocomplete="off" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2" id="art3" style="padding:0px;">
                        <div class="col-lg-4 col-sm-6 mb-2" style="display:none">
                            <div class="input-group">
                                <div class="input-group-text">Unidad de Medida</div>
                                <input type="text" class="form-control" id="txtUnidadMedida" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 mb-2">
                            <button type="button" id="btnAgregarArticulo" class="btn btn-dark">Agregar Detalle</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="table-responsive table-card" style="min-height:200px;margin:0">
                            <table class="table table-nowrap table-sm align-middle">
                                <thead class="text-muted table-light">
                                    <tr class="text-uppercase">
                                        <th class="d-none">id</th>
                                        <th>Item</th>
                                        <th>Producto</th>
                                        <th>Marca</th>
                                        <th class="d-none">U.M.</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th class="d-none">idRefDetalle</th>
                                        <th style="width:90px"></th>
                                    </tr>
                                </thead>
                                <tbody class="list form-check-all" id="tbDetalle">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/basics")
<script src="/assets/js/code.jquery.com_jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/assets/libs/list.js/list.min.js"></script>
<script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="~/Scripts/Inventario/OperacionStock_Salida.js"></script>